<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="boxes finance">
        <div class="row">
          <div class="col-md">
            <div class="box mails">
              <h4>العقارات</h4>
              <div class="row">
                <div class="col">
                  <div class="txt  text-right px-2 py-3">
                    <ul>
                      <li> <a [routerLink]="['/liste-dotation']">قائمة العقارات</a></li>
                      <li><a [routerLink]="['/locataire-dot-add']">تسجيل مستاجر</a></li>
                      <li><a [routerLink]="['/enregistrer-revenus']">    سداد الإجارات</a></li>
                      <li><a [routerLink]="['/edit-revenus']">قائمة السداد</a></li>
                      <li>  <a [routerLink]="['/revenus-list']">قائمة المستاجرين</a></li>



                    </ul>
                  </div>
                </div>
                <div class="col text-center px-2 py-3">
                  <span class="sympol pt-4"><i class="fa fa-city fa-4x"></i></span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md">
            <!--       -->

            <!---<div class="box forms">
              <h4>التأدية</h4>
              <div class="row">
                <div class="col ">
                  <div class=" px-2 py-3">
                    <ul>
                      <li>مسيرات الرواتب</li>
                      <li>الحوافز والمكافآت</li>
                      <li>الحسميات</li>
                      <li>سداد المدفوعات والمخالفات</li>
                      <li>خارج الدوام</li>
                      <li>الإنتدابات</li>
                    </ul>
                  </div>
                </div>
                <div class="col text-center px-2 py-4">
                  <span class="sympol pt-4"><i class="fa fa-wallet fa-4x"></i></span>
                </div>
              </div>
            </div>-->

          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

