<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <!-- <a [routerLink]="['/type-facture']" class="p-2 flex-fill bd-highlight stop-btn">
     <span><i class="fa fa-bell"></i></span>
     صنف الفاتورة
   </a>

   <a [routerLink]="['/branche-one']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-chevron-circle-right"></i></span>
     الفرع الأول
   </a>

   <a [routerLink]="['/branche-two']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-chevron-circle-left"></i></span>

     الفرع الثاني
   </a>

  <a [routerLink]="['/type-depense']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-coins"></i></span>
    نوع المصروفات
  </a>
    -->
  <!-- <a [routerLink]="['/type-beneficiaire']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-user"></i></span>

     نوع المستفيد
   </a>

   <a [routerLink]="['/projet-prog']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-tasks"></i></span>
     المشروع/البرنامج
   </a>

   <a [routerLink]="['/proj-dons']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-coins"></i></span>
     مشروع التبرع
   </a>-->

  <a [routerLink]="['/projet-compte']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-credit-card"></i></span>
    الحسابات البنكية
  </a>


  <a [routerLink]="['/etat-compte-settings']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-coins"></i></span>
    حالة الحساب
  </a>

  <a [routerLink]="['/chequeclasse']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa fa-sitemap"></i></span>
    الأقسام
  </a>



</nav>

