<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="forbidden text-center p-2">
        <p>
          4<span><i class="fa fa-ban"></i></span>3
        </p>
        <h2>خطأ</h2>
        <span class="text">ليس لديك صلاحية الدخول على هذه الصفحة</span>
        <div class="stop">
          <span class="icon">
            <h1>ممنوع الدخول</h1>
            <i class="fa fa-hand-paper"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

