
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
    
      <header>
        <h2 class="task-head">تفاصيل المهمة</h2>
        <span class="completed">الحالة : {{tache.etat}}</span>
      </header>
      <div class="task-details">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <span class="label">رقم المهمة</span>
              <span class="num-task">{{tache.id}}</span>
            </div>
            <div class="col-6">
              <span class="label">التاريخ</span>
              <span>{{tache.date}}</span>
            </div>
            <div class="col-6">
              <span class="label">الموضوع</span>
              <span>{{tache.tacheNom}}</span>
            </div>
            <div class="col-6">
              <span class="label">مدة التنفيذ</span>
              <span>{{tache.delai}} أيام </span>
            </div>
            <div class="col-6">
              <span class="label">جهة الطلب</span>
              <span>{{tache.creatorName}}</span>
            </div>
            <div class="col-6">
              <span class="label">الموظف</span>
              <span>{{tache.createur}}</span>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <span class="label">التفاصيل</span>
            </div>
            <div class="col-md-6">
              <span>
               {{tache.description}}
              </span>
            </div>
            <div class="col-12">
              <span class="label">المرفقات</span>
              <div class="file-links">
                <ul *ngFor="let pd of listPjFiltred;">
                  <li>

                    <a (click)="download(pd.path)"><i class="fa fa-download  fa-2x"></i></a>
                    {{pd.path}}


                  </li>
                </ul>

              </div>
            </div>
            <div class="col-12 text-right">
              <a  class="btn complete-btn">
                <i class="fa fa-star"></i>
                تقييم
              </a>
              <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
              <div>
                <label class="d-block">
                  <input type="checkbox" name="value1" (change)='onSelect($event)' [checked]="chec">
                  إنجاز جميع عناصر المهمة
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value2" (change)='onSelect($event)' [checked]="chec">
                  الإنجاز في الوقت المحدد
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value3" (change)='onSelect($event)' [checked]="chec">
                  سرعة التفاعل والرد
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value4" (change)='onSelect($event)' [checked]="chec">
                  جودة العمل
                </label>
              </div>
              <button class="btncolor" type="submit"><i class="fa fa-star"></i> تقييم</button>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
