.redone {
  width: 100px;
  height: 20px;
  border: 1px solid #91070e;
}

/*-- Electronic Sevices Forms --*/
.task-form input:focus:not([type="submit"]):not([type="reset"]),
.task-form select:focus {
  outline-color: #999;
}

.task-form option:hover {
  border: none !important;
}

.service-form label {
  background-color: #91c3d8;
  color: #333;
}

.service-form select {
  width: 50%;
}

.service-form input[type="submit"] {
  width: 140px;
  font-size: 18px;
}

.service-form input[type="reset"] {
  width: 140px;
  font-size: 18px;
}

/*-- leave-request-list --*/
.leave-request-list table thead {
  background-color: #91c3d8;
}

.leave-request-list .ok,
.leave-request-list .refused {
  display: block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.leave-request-list .ok {
  background-color: #28a745 !important;
}

.leave-request-list .refused {
  background-color: #dc3545 !important;
}

/*-- Events Pages --*/
.events-form label {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #91c3d8;
  color: #333;
  margin-left: 10px;
  min-width: 60px;
}

  .events-form label.main {
    background-color: #276985;
    color: #fff;
    padding: 5px 15px;
    width: 145px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

    .events-form label.main:first-of-type {
      margin-top: 20px;
    }

.events-form input[type="text"],
.events-form input[type="password"] {
  width: 120px;
}

.events-form input[type="text"],
.events-form input[type="password"],
.events-form input[type="date"],
.events-form input[type="number"],
.events-form select {
  border-radius: 5px;
  padding: 5px 10px;
  width: 115px;
}

  .events-form input[type="text"].last {
    width: 400px;
  }

.events-form input[type="file"] {
  display: none;
}

.events-form input[type="submit"] {
  width: 140px;
  text-align: center;
}

.events-form .file-label {
  background-color: #91c3d8 !important;
}

/*-- Start Events-List Page --*/
.events-list .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(132, 192, 199);
}

.print-link a {
  color: #185877;
}

/*-- Start events-data Page --*/
.events-data .events-form label {
  width: 135px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.events-data .events-form .data {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #999;
  min-width: 250px;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

  .events-data .events-form .data .table {
    max-width: 95%;
  }

.social-links a {
  text-decoration: none;
  color: #276985;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #f56040;
}

.youtube:hover {
  color: #ff0000;
}

.add-inputs,
.add-inputs2 {
  background: #344760;
  color: #fff;
  border: none;
  padding: 4px 8px;
}
/*Printed Report Page Added 2/10/2020*/
#htmlData {
  text-align: right;
}

.printed-report-page {
  direction: rtl;
  text-align: right;
  padding: 50px 0;
}

  .printed-report-page h2 {
    color: #2196f3;
    padding-bottom: 10px;
    border-bottom: 2px solid #2196f3;
    margin-bottom: 30px;
  }

.data-line {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

  .data-line .label,
  .data-line .text {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .data-line .label {
    background: #2196f3;
    width: 40%;
  }

  .data-line .text {
    border: 1px solid #2196f3;
    width: 58%;
    color: #333;
  }

.printed-report-page .result,
.printed-report-page .recoms {
  text-align: center;
}

  .printed-report-page .result p,
  .printed-report-page .recoms p {
    border: 1px solid #2196f3;
    border-radius: 10px;
    padding: 10px;
  }

.printed-report-page .part thead {
  background: #2196f3;
}

.printed-report-page h4 {
  color: #2196f3;
}


.outer-1 {
  background-color: white;
  width: 100px; /* You can define it by % also */
  height: 100px; /* You can define it by % also*/
  position: relative;
  border: 1px solid #cfcbca;
  border-radius: 50%;
}

.inner-1 {
  background-color: #cfcbca;
  top: 10%;
  left: 10%; /* of the container */
  width: 80%; /* of the outer-1 */
  height: 80%; /* of the outer-1 */
  position: absolute;
  border: 1px solid #cfcbca;
  border-radius: 50%;
}

.inner-2 {
  background-color: white;
  top: 20%;
  left: 20%; /* of the container */
  width: 60%; /* of the inner-1 */
  height: 60%; /* of the inner-1 */
  position: absolute;
  border: 1px solid #cfcbca;
  border-radius: 50%;
}


.pp {
  text-align: right;
  padding: 15px 10px;
  background: #F2F2F2;
  border: 1px solid #999;
}

.date {
  color: #999;
  margin-right: 10px;
}

.scrolbar {
  height: 200px;
  overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #8ab9d0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8ab9d0;
  border-radius: 10px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #8ab9d0
  }

ul {
  list-style: none;
}

.pp .head {
  color: #222;
  padding: 8px 0;
  text-align: center;
  background: #8ab9d0
}

.task-details-box ul {
  list-style: none
}

  .task-details-box ul li {
    border-bottom: 1px solid #999
  }

    .task-details-box ul li .date {
      color: #999;
      margin-right: 10px
    }

.task-details-box a {
  text-decoration: none;
  color: #f00;
}

.comment {
  padding: 5px;
  background: #d1d1d1;
  margin-right: 40px;
  border-radius: 5px;
}

.comment-form {
  width: 90%;
  margin: auto;
}

  .comment-form input[type='text'] {
    width: 80%
  }
