<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/formation-add']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus"></i></span>
    إضافة دورة تدريبية
  </a>

  <a [routerLink]="['/formation-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-list"></i></span>
    قائمة الدورات التدريبية
  </a>

  <a [routerLink]="['/specialite']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus"></i></span>
    إضافة الاختصاص
  </a>
</nav>
