<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/list-tuteur']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-users"></i></span>
    قائمة الكفلاء
  </a>


  <a [routerLink]="['/add-tuteur']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-user-plus"></i></span>
    إضافة كفيل
  </a>

  <a [routerLink]="['/list-solde']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-users"></i></span>
    قائمة المكفولين
  </a>
</nav>

