<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/liste-organisme']" class="p-2 flex-fill bd-highlight stop-btn active">
    <span><i class="fa fa-list"></i></span>
    قائمة الجهات
  </a>

  <a [routerLink]="['/organisme']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user"></i></span>
    إضافة جهة
  </a>

  <a [routerLink]="['/liste-proprietaire']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    قائمة أصحاب المعاملة
  </a>

  <a [routerLink]="['/proprietaire']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-home"></i></span>
    إضافة صاحب المعاملة
  </a>

  <a [routerLink]="['/enreg-e']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-arrow-alt-circle-right"></i></span>
    المعاملات
  </a>

</nav>
