<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">تقديم طلب عهدة</h3>
      </header>
      <div class="leave-request">
        <form class="form-row task-form service-form" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="col-md-6">
            <label for="cares">العهد</label>
            <select id="cares" name="nom" #nom="ngModel" [(ngModel)]="equ.nom" required>
              <option [ngValue]="undefined" selected disabled>-اختر-</option>
              <option *ngFor="let item of nomEquipement" value="{{item.nom}}">{{item.nom}}</option>
            </select>
          </div>

          <div *ngIf="nom.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب العهد.

          </div>


          <div class="col-md-6">
            <label for="care-type">نوع العهدة</label>
            <select id="cares" name="type" #type="ngModel" [(ngModel)]="equ.type" required>
              <option [ngValue]="undefined" selected disabled>-اختر-</option>
              <option *ngFor="let item of typeEquipement" value="{{item.nom}}">{{item.nom}}</option>
            </select>
          </div>

          <div *ngIf="type.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب نوع العهدة.

          </div>


          <div class="col-md-6">
            <label for="care-emp-mobile">جوال</label>
            <input type="text" id="care-emp-mobile" name="tel" #tel="ngModel" [(ngModel)]="equ.tel">
          </div>
          <div class="col-md-6">
            <label for="care-mail">الايميل الرسمي</label>
            <input type="text" id="care-mail" name="email" #email="ngModel" [(ngModel)]="equ.email">
          </div>
          <div class="col-md-6">
            <label for="trans">تحويله</label>
            <input type="text" id="trans" name="transfert" #transfert="ngModel" [(ngModel)]="equ.transfert">
          </div>
          <div class="col-md-6">
            <label for="care-notes">ملاحظات</label>
            <textarea id="care-notes" class="form-control" name="remarque" #remarque="ngModel" [(ngModel)]="equ.remarque"></textarea>
          </div>

          <div class="col-12 text-left mt-3">
            <input class="btn btn-primary px-4" type="submit" value="تقديم">
            <input class="btn btn-danger px-4" type="reset" value="إلغاء">
          </div>
        </form>
      </div>
    </div>

  </div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
