<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/liste-locataire']" class="p-2 flex-fill bd-highlight stop-btn active">
    <span><i class="fa fa-list"></i></span>
    قائمة المستأجرين
  </a>

  <a [routerLink]="['/enregistrer-locataire']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user"></i></span>
    تسجيل مستأجر
  </a>

  <a [routerLink]="['/locataire-details']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    قائمة الوحدات المستأجرة
  </a>

  <a [routerLink]="['/edit-locataire']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-home"></i></span>
    تسجيل الإيجار
  </a>
</nav>
