<div class="col-12 print-link text-left">
  <a (click)="print()" class="print">
    <span><i class="fa fa-print fa-2x"></i></span>
  </a>
</div>
<div class="printed-request" id="htmlData">
  <!-- Start Header -->
  <header>
    <div class="logo"><img width="140" src="images/logo.jpg" alt="" /></div>
    <div class="head-text">
      <h3>بسم الله الرحمن الرحيم</h3>
      <h3>المملكة العربية السعودية</h3>
      <p>وزارة الشؤن الإسلامية و الدعوة و الإرشاد</p>
      <p>فرع الوزارة بمنطقة جازان</p>
      <p>جمعية الدعوة و الإرشاد و توعية الجاليات في أبو عريش</p>
    </div>
    <h3 class="text-center mt-2">
      نموذج طلب صرف رقم : <span class="text-danger" dir="rtl">00345</span>
    </h3>

  </header>
  <div class="content">
    <div class="container">
      <h3>المعلومات الأساسية</h3>
      <table class="table table-bordered">
        <tr>
          <th scope="row" dir="rtl">مقدم الطلب</th>
          <td>جابر محمد &nbsp; دوشي</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">موضوع الطلب</th>
          <td>تكاليف مسابقة الدعوة الرقمية</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">القسم المستفيد</th>
          <td>الجاليات</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">المبلغ المطلوب</th>
          <td>3000</td>
          <th scope="row">التاريخ</th>
          <td>15/02/1442 هـ</td>
        </tr>
      </table>

      <h3>التفاصيل</h3>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">م</th>
            <th scope="col">البيان</th>
            <th scope="col">المبلغ</th>
            <th scope="col">التفاصيل</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>أجرة الداعية</td>
            <td>1000</td>
            <td>تكلفة الإعداد والتصحيح</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>تكلفة الطباعة</td>
            <td>1000</td>
            <td>طباعة 1000 نسخة</td>
          </tr>
        </tbody>
      </table>

      <h3>رأي اللجنة</h3>
      <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <th scope="row">الاسم</th>
            <td>نبيل سالم العطاس</td>
            <td>
              <input type="checkbox" name="agree1" id="ch1" /><label class="mr-2"
                                                                     for="ch1">موافق</label>
            </td>
            <td>
              <input type="checkbox" name="agree1" id="ch2" /><label class="mr-2"
                                                                     for="ch2">غير موافق</label>
            </td>
            <td>التوقيع</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">الاسم</th>
            <td>عبد الكريم صديق</td>
            <td>
              <input type="checkbox" name="agree1" id="ch3" /><label class="mr-2"
                                                                     for="ch3">موافق</label>
            </td>
            <td>
              <input type="checkbox" name="agree1" id="ch4" /><label class="mr-2"
                                                                     for="ch4">غير موافق</label>
            </td>
            <td>التوقيع</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">الاسم</th>
            <td>جابر محمد دوشي</td>
            <td>
              <input type="checkbox" name="agree1" id="ch5" /><label class="mr-2"
                                                                     for="ch5">موافق</label>
            </td>
            <td>
              <input type="checkbox" name="agree1" id="ch6" /><label class="mr-2"
                                                                     for="ch6">غير موافق</label>
            </td>
            <td>التوقيع</td>
            <td style="width: 130px"></td>
          </tr>
        </tbody>
      </table>

      <h3>الإعتماد</h3>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col" colspan="2">المبلغ</th>
            <th scope="col" colspan="2" dir="rtl">لجنة الصرف</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">كتابة</th>
            <th scope="col">رقما</th>
            <td>محمد بن علي الحربي</td>
            <td style="width: 130px"></td>
          </tr>
          <tr>
            <td>3,000</td>
            <td>ثلاثة آلاف ريال</td>
            <td>علي بن محمد معشي</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
