<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/add-stock']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus "></i></span>
    اضافة مستودع
  </a>

  <a [routerLink]="['/list-stockage']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list "></i></span>
    قائمة المستودعات
  </a>

  <a [routerLink]="['/add-stockage']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-archive "></i></span>
    تغذية المستودع
  </a>

  <a [routerLink]="['/list-pay-directe']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    قائمة  الصرف المباشر
  </a>

  <a [routerLink]="['/add-pay-directe']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-money-bill"></i></span>
    اضافة  صرف مباشر
  </a>

  <a [routerLink]="['/list-resp-ordre-pay']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list "></i></span>
    قائمة أوامر الصرف
  </a>


  <a [routerLink]="['/list-ben-pay-stockage']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-user "></i></span>
    صرف لمستفيد
  </a>

  <a [routerLink]="['/home-stockage']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-envelope-open-text"></i></span>
    التقارير
  </a>

</nav>
