<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">  إدارة المستودع</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <div class="que-serv">

            <a [routerLink]="['/add-stock']">
              <span class="icon"><i class="fa fa-plus "></i></span>
              اضافة مستودع
            </a>

            <a [routerLink]="['/list-stockage']">
              <span class="icon"><i class="fa fa-list "></i></span>
              قائمة المستودعات
            </a>

            <a [routerLink]="['/add-stockage']">
              <span class="icon"><i class="fa fa-archive "></i></span>
              تغذية المستودع
            </a>

            <a [routerLink]="['/list-pay-directe']">
              <span class="icon"><i class="fa fa-list"></i></span>
              قائمة  الصرف المباشر
            </a>

            <a [routerLink]="['/add-pay-directe']">
              <span class="icon"><i class="fa fa-money-bill"></i></span>
              اضافة  صرف مباشر
            </a>

            <a [routerLink]="['/list-resp-ordre-pay']">
              <span class="icon"><i class="fa fa-list "></i></span>
              قائمة أوامر الصرف
            </a>


            <a [routerLink]="['/list-ben-pay-stockage']">
              <span class="icon"><i class="fa fa-user "></i></span>
              صرف لمستفيد
            </a>

            <a [routerLink]="['/retyour-stock-add']">
              <span class="icon"><i class="fa fa-box-open "></i></span>
              إسترجاع مخزون
            </a>


            <a [routerLink]="['/retyour-stock-list']">
              <span class="icon"><i class="fa fa-boxes "></i></span>
              قائمة إسترجاع المخزون
            </a>

            <a [routerLink]="['/home-stockage']">
              <span class="icon"><i class="fa fa-envelope-open-text"></i></span>
              التقارير
            </a>


          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>





