
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head"> الخدمات</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <a href="" [routerLink]="['/demande-voiture-add']">
            <span class="icon"><i class="fa fa-car"></i></span>
            طلب سيارة
          </a>
          <a href="" [routerLink]="['/cars-repair-request-add']">
            <span class="icon"><i class="fa fa-car-crash"></i></span>
            طلب صيانة سيارة
          </a>
          <a href="" [routerLink]="['/add-ordre-pay']">
            <span class="icon"><i class="fa fa-box-open"></i></span>
            طلب صرف من المستودع
          </a>
          <a href="" [routerLink]="['/service-vente-add']">
            <span class="icon"><i class="fa fa-shopping-cart"></i></span>
            طلب شراء
          </a>

          <a href="" [routerLink]="['/dem-tech-add-user']">
            <span class="icon"><i class="fa fa-laptop"></i></span>
            طلب خدمات تقنية
          </a>

          <a href="" [routerLink]="['/all-maintenance-add']">
            <span class="icon"><i class="fa fa-cogs"></i></span>
            طلب صيانة
          </a>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

