<html>
<body>
  <div class="login-page">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="form" style="width:500px">
      <div class="form-header">تسجيل الدخول</div>
      <div class="form-image">
        <img src="assets/images/logo000.png" style="width: 70px;
  margin-left: 50px;
  border-radius: 50%" alt="" />
        <p>سالك . . البوابة الداخلية للموظفين </p>
      </div>
      <div class="form-group">
        <label for="" class="lab">
          <i class="fa fa-user-circle fa-lg"></i>
        </label>
        <input  #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" type="text" id="user-name" class="form-control" placeholder="اسم المستخدم" required (change)="getUserName($event)">
      </div>
      <div class="form-group">
        <label for="" class="lab"><i class="fa fa-key fa-lg"></i></label>
        <input #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" type="password" id="password" class="form-control" placeholder="كلمة المرور" required>
      </div>
  
      <button type="submit" class="log">دخول</button>
    </form>
  </div>
</body>
</html>
