* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
}

/*New Style for Awwal Login Page --> Put it in main css file*/
.login-page-awal {
  position: absolute;
  padding: 35px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("/assets/images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  font-family: 'Tajawal', sans-serif;
}

.main-logo {
  position: absolute;
  left: 10px;
  top: 0;
  width: 120px;
}

.login-page-awal form {
  width: 40%;
  height: 80%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

  .login-page-awal form img {
    width: 150px;
    margin-bottom: 0px;
  }

  .login-page-awal form h3 {
    color: #a1d11c;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .login-page-awal form h2 {
    margin-bottom: 10px;
    color: rgb(64,98,183);
    color: linear-gradient(45deg, rgba(64,98,183,1) 15%, rgba(44,56,131,1) 85%);
  }

.input-wraper {
  width: 70%;
  position: relative;
  margin-bottom: 15px;
}

  .input-wraper input {
    border-radius: 20px;
    padding-right: 70px;
    background: #ccc;
    color: rgb(64,98,183);
    font-size: 1.5rem;
  }

    .input-wraper input::placeholder {
      color: #fff;
    }

  .input-wraper .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 1.8rem;
    color: #fff;
  }

.check-label {
  font-size: 1.5rem;
  color: rgb(64,98,183);
  color: linear-gradient(45deg, rgba(64,98,183,1) 15%, rgba(44,56,131,1) 85%);
}

  .check-label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 2px solid rgb(64,98,183);
    font-size: 1rem;
    color: #fff;
  }

.login-page-awal form input[type='submit'] {
  background: rgb(64,98,183);
  background: linear-gradient(45deg, rgba(64,98,183,1) 15%, rgba(44,56,131,1) 85%);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.6rem;
  width: 50%;
  padding: 5px;
  color: #fff;
}

@media (max-width:991px) {
  .login-page-awal form {
    width: 50%;
  }

  .input-wraper input {
    font-size: 1.2rem;
  }
}

@media (max-width:767px) {
  .login-page-awal form {
    width: 70%;
  }

  .input-wraper input {
    font-size: 1.2rem;
  }
}

@media (max-width:500px) {
  .login-page-awal form {
    width: 100%;
  }
}

#save-check {
  display: none;
}

  #save-check:checked ~ .check-label span {
    color: rgb(64,98,183);
  }
/*End Login-page-awwal Style*/
