<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">


  <a [routerLink]="['/cheque-retrait-list-general']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list-ul"></i></span>
    قائمة المستقطعين
  </a>

  <a [routerLink]="['/cheque-retrait-list-active']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-clipboard-check"></i></span>
    متابعة مستقطع مفعل
  </a>

  <a [routerLink]="['/cheque-retrait-list-tribuche']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-times"></i></span>
    متابعة مستقطع متعثر
  </a>


</nav>
