<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/type-ben-crud']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-user"></i></span>
    فئة المستفيد
  </a>

  <a [routerLink]="['/type-maison-crud']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-home"></i></span>
    	نوع المسكن
  </a>

  <a [routerLink]="['/type-rev-ben-crud']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-dollar-sign"></i></span>
    	نوع الدخل
  </a>

  <a [routerLink]="['/type-droit-crud']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-university"></i></span>
    البنوك
  </a>

</nav>
