<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/cars-add']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-car "></i></span>
    إضافة سيارة
  </a>

  <a [routerLink]="['/cars-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-list"></i></span>
    قائمة السيارات
  </a>

  <a [routerLink]="['/cars-repair-request-add']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-wrench"></i></span>
    طلب إصلاح السيارة
  </a>

  <a [routerLink]="['/cars-repair-request-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-list"></i></span>
    قائمة طلب تصليح السيارات
  </a>



</nav>
