<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <!-- End Sidebar -->
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">قائمة طلبات صيانة السيارات </h3>
      </header>
      <div class="form-group pull-right">
        <input type="text"
               class="search form-control"
               placeholder="ما الذي تبحث عنه ؟" name="search" [(ngModel)]="filter" />
      </div>
      <span class="counter pull-right"></span>
      <div class="table-responsive">
        <table class="table results text-center table-bordered theme-table">
          <thead>
            <tr>

              <th scope="col">#</th>
              <th scope="col">رقم اللوحة</th>
              <th scope="col">نوع السيارة </th>
              <th scope="col">صاحب الطلب</th>
              <th scope="col">الأعطال</th>
              <th scope="col">عرض التفاصيل</th>
              <th scope="col">صرف</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let cg of factList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p }">
              <td (click)="populateForm(cg)">{{cg.id}}</td>
              <td (click)="populateForm(cg)">{{cg.matricule}}</td>
              <td (click)="populateForm(cg)">{{cg.type}}</td>
              <td (click)="populateForm(cg)">{{cg.userNameCreator}}</td>
              <td (click)="populateForm(cg)">{{cg.panne}}</td>
              <td (click)="populateForm(cg)">
                <a class="btn show-details-btn text-info" (click)="populateForm(cg)" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-eye fa-lg"></i>
                </a>
              </td>
              <td (click)="populateForm(cg)"><a class="btn btn-success" data-toggle="modal" data-target="#myModal2">إعتماد</a></td>
            </tr>

          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                 nextLabel="التالي"></pagination-controls>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

<div id="myModal" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">

        <div class="modal-body" style="direction:rtl; text-align:right;">
          <h2 class="text-center my-2"> طلب صيانة السيارة</h2>
          <div class="form-row task-form service-form text-center">

            <div class="col-md-6">

              <div>
                <label>رقم الطلب</label>
                <p>{{fact.id}}</p>
              </div>
              <div>
                <label>الموظف المسجل </label>
                <p>{{fact.userNameCreator}}</p>
              </div>
              <div>
                <label>تاريخ الصيانة</label>
                <p>{{fact.daterepair}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label>رقم اللوحة</label>
                <p>{{fact.matricule}}</p>
              </div>
              <div>
                <label>نوع السيارة</label>
                <p>{{fact.categorie}}</p>
              </div>
              <div>
                <label>الأعطال</label>
                <p>{{fact.panne}}</p>
              </div>
            </div>

            <div class="col-md-4">
              <label>التسعيرة الأولى</label>
              <div class="file-links">
                <ul>
                  <li>
                    <a (click)="download(fact.prix1)"><i class="fa fa-download  fa-2x"></i></a>
                    {{fact.prix1}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-4">
              <label>التسعيرة الثانية</label>
              <div class="file-links">
                <ul>
                  <li>
                    <a (click)="download(fact.prix2)"><i class="fa fa-download  fa-2x"></i></a>
                    {{fact.prix2}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-4">
              <label>التسعيرة الثالثة</label>
              <div class="file-links">
                <ul>
                  <li>
                    <a (click)="download(fact.prix3)"><i class="fa fa-download  fa-2x"></i></a>
                    {{fact.prix3}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-12">
              <div>
                <label>الملاحظات</label>
                <p>
                  {{fact.req}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- getBack-->
<div id="myModal2" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">إعتماد طلب صيانة السيارة </h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">


            <p class="text-center" style="text-align:center">هل أنت متأكد من إعتماد طلب صيانة السيارة   ؟</p>



            <div class="mx-auto my-3 text-center">
              <button class="btn btn-success px-2 ml-3" (click)="getBack()"><span class="ml-2"><i class="fa fa-save"></i></span> موافق</button>
              <button class="btn btn-danger px-2 ml-3"><span class="ml-2"><i class="fa fa-times"></i></span> إلغاء</button>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

