/* Receipt-Print Page*/
.receipt-page {
  margin-top: 30px;
  direction: rtl;
  text-align: right;
  padding: 10px;
  border: 1px solid #d1d1d1;
}

.receipt-header {
  height: 80px;
  width: 100%;
  border-bottom: 2px dashed #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receipt-body {
  padding: 15px 0;
}

.receipt-page .footer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px dashed #d1d1d1;
}

.theme-table thead {
  background-color: #276985;
  color: #fff;
}

.theme-table .stat {
  padding: 5px 10px;
  background-color: #276985;
  color: #fff;
}

.theme-table .link {
  color: #276985;
  padding: 5px;
  background-color: #d1d1d1;
  text-decoration: none;
}

  .theme-table .link:hover {
    opacity: 0.9;
  }


.service-form p {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  width: 50%;
  color: #276985;
  background-color: #d1d1d1;
}


/* Add This To Service Form Style */
.service-form p {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  width: 50%;
  color: #276985;
  background-color: #d1d1d1;
}

/*Task form Editing*/
.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"],
  .task-form input[type="number"],
  .task-form input[type="email"],
  .task-form input[type="tel"],
  .task-form select {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

/* Receipt Copy Style in popup page*/
.receipt-copy {
  width: 75%;
  margin: auto;
}

/*Dropzone Format*/
.dropzone {
  font-size: 18px;
  color: #2196f3;
  border: 2px dashed #2196f3;
}

  .dropzone input[type="file"] {
    display: none;
  }

/* Receipt-Print Page*/
.receipt-page {
  margin-top: 30px;
  direction: rtl;
  text-align: right;
  padding: 10px;
  border: 1px solid #d1d1d1;
}

.receipt-header {
  height: 80px;
  width: 100%;
  border-bottom: 2px dashed #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receipt-body {
  padding: 15px 0;
}

.receipt-page .footer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px dashed #d1d1d1;
}
