.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"] {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.dropzone {
  font-size: 18px;
  color: #2196f3;
  border: 2px dashed #2196f3;
  width: 250px;
}
