<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <app-menu-finance></app-menu-finance>
      <!-- Tasks Page Content -->
      <section class="page-content">
        <h4 class="my-2 task-head">قائمة الأوقاف</h4>
        <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="بحث">
        <div class="tabel-cont">
          <table class="table table-striped table-hover sortable">
            <thead>
              <tr>
                <th scope="col" (click)="sort('id')">
                  <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  #
                </th>
                <th scope="col" (click)="sort('nom')">
                  اسم الوقف
                  <span class="glyphicon sort-icon" *ngIf="key =='nom'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th scope="col" (click)="sort('date')">
                  حالة الوقف
                  <span class="glyphicon sort-icon" *ngIf="key =='date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th scope="col" (click)="sort('type')">
                  عدد الوحدات
                  <span class="glyphicon sort-icon" *ngIf="key =='type'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th scope="col" (click)="sort('etat')">
                  <p style="color:white">
                    <span class="glyphicon sort-icon" *ngIf="key =='etat'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </p>
                  الوحدات المؤجرة
                </th>

                <th scope="col" (click)="sort('comptable')">
                  عدد الوحدات غیر المؤجرة
                  <span class="glyphicon sort-icon" *ngIf="key =='comptable'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th *ngIf="testrole">تعديل</th>
                <th *ngIf="testrole">حذف</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dot of list |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: count, currentPage: p }; let i = index">
                <th (click)="populateForm(dot)" scope="row" data-toggle="modal" data-target="#myModal1">{{(p-1) * count + i + 1}}</th>
                <td (click)="populateForm(dot)" data-toggle="modal" data-target="#myModal1">{{dot.nom}}</td>
                <td (click)="populateForm(dot)" data-toggle="modal" data-target="#myModal1">{{dot.type}}</td>
                <td (click)="populateForm(dot)" data-toggle="modal" data-target="#myModal1">{{dot.attribut3}}</td>
                <td (click)="populateForm(dot)" data-toggle="modal" data-target="#myModal1">{{dot.attribue4}}</td>
                <td (click)="populateForm(dot)" data-toggle="modal" data-target="#myModal1">{{dot.attribut2}}</td>
             <td *ngIf="testrole"><a class="btn btn-success" [routerLink]="['/unite-edit', dot.id]"><i class="fa fa-edit"></i></a></td>
     <td *ngIf="testrole"><a (click)="onDelete(dot.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>

            </tbody>


          </table>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                 nextLabel="التالي"></pagination-controls>
          </ul>
        </nav>

      </section>
    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>



<!-- Modal -->
<div id="myModal1" class="modal fade bd-example-modal-lg" role="dialog" style="direction:ltr">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title">بيانات الوقف</h4>

      </div>
      <div class="modal-body" style="direction:rtl; text-align:right">
        <form class="task-form form-row stop-form">

          <div class="col-sm-6">
            <label><span><i class="fa fa-sort-numeric-down"></i></span>رقم الوقف</label>
            <span class="task-num">{{details.id}}</span>
          </div>

          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-building"></i></span>اسم الوقف </label>
            <span>{{details.nom}}</span>
          </div>


          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-calendar-alt"></i></span>التاريخ </label>
            <span>{{details.date}}</span>
          </div>

          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-list-ol"></i></span>نوع الوقف </label>
            <span>{{details.type}}</span>
          </div>

          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-list-ol"></i></span>حالة الوقف</label>
            <span>{{details.etat}}</span>
          </div>

          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-map-marker-alt"></i></span>عنوان الوقف</label>
            <span>{{details.adresse}}</span>
          </div>

          <div class="col-sm-6">
            <label for="date"><span><i class="fa fa-home"></i></span>عدد الوحدات</label>
            <span>{{details.nbunite}}</span>
          </div>
          <div class="table-responsive my-3">
            <table class="table table-bordered table-striped theme-table">
              <thead>
                <tr>
                  <th scope="col">	رقم الوحدة</th>
                  <th scope="col">قيمة الايجار</th>
                  <th scope="col">عداد الكهرباء</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let dp of payList">
                  <td>{{dp.numRevenus}}</td>
                  <td>{{dp.prix}}</td>
                  <td>{{dp.compteurElc}}</td>
                
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
