/*new printed pages*/
.printed-page {
  padding: 50px 0;
}

  .printed-page header {
    position: relative;
  }

    .printed-page header .logo,
    .printed-page header .date {
      position: absolute;
      width: 160px;
    }

      .printed-page header .logo img {
        width: 100%;
      }

    .printed-page header .date {
      left: 0;
      bottom: 50%;
      font-size: 22px;
      font-weight: bold;
    }

  .printed-page p {
    font-size: 18px;
  }

  .printed-page table td {
    width: calc(100% / 6);
    border: 1px solid #555;
  }
