<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/chequec-lis']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    قائمة الشيكات
  </a>

  <a [routerLink]="['/chequec-add']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-credit-card"></i></span>
    تسجيل شيك
  </a>

  <a [routerLink]="['/new-cheque-list-payee']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-coins"></i></span>
    طلبات  صرف شيك
  </a>
  <!--  <a [routerLink]="['/cheque-pay-list-pay']" class="p-2 flex-fill bd-highlight">
      <span><i class="fa fa-coins"></i></span>
      رفض و إعتماد طلبات  صرف شيك
    </a>
    <a [routerLink]="['/pay-chequec-detail']" class="p-2 flex-fill bd-highlight">
      <span><i class="fa fa-coins"></i></span>
      طلبات  صرف شيك
    </a>-->

</nav>
