<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">استعلاماتي</h3>
      </header>
      <div class="que-serv">

        <a href="" [routerLink]="['/user-list-pointage-emp']">
          <span class="icon"><i class="fa fa-calendar-alt"></i></span>
          الحضور و الإنصراف
        </a>

        <a href="" [routerLink]="['/my-list-conge']">
          <span class="icon"><i class="fa fa-sign-out-alt"></i></span>طلبات
          الإجازات
        </a>

        <a href="" [routerLink]="['/suivie-conge']">
          <span class="icon"><i class="fa fa-arrow-alt-circle-left"></i></span>
          تتبع طلب إجازة
        </a>

        <a href="" [routerLink]="['/permission-list']">
          <span class="icon"><i class="fa fa-walking"></i></span>
          طلبات الإذن
        </a>
        <a href="" [routerLink]="['/recrutement-list']">
          <span class="icon"><i class="fa fa-list"></i></span>
          طلبات الانتدابات
        </a>


        <a href="" [routerLink]="['/equipement-list']">
          <span class="icon"><i class="fa fa-toolbox"></i></span>
          طلبات العهد
        </a>

        <a href="" [routerLink]="['/my-equipement']">
          <span class="icon"><i class="fa fa-toolbox"></i></span>
          العهد الخاصة بي
        </a>
        <a href="" [routerLink]="['/salaiale-my-lis']">
          <span class="icon">
            <i class="fa fa-file-invoice-dollar"></i>
          </span>
          طلبات مشهد براتب
        </a>
        <a href="" [routerLink]="['/residence-list']">
          <span class="icon"><i class="fa fa-home"></i></span>
          طلبات تجديد إقامة
        </a>
        <a href="" [routerLink]="['/cre-finan-list-employee']">
          <span class="icon"><i class="fa fa-funnel-dollar"></i></span>
          طلبات المستحقات المالية
        </a>
        <a href="" [routerLink]="['/new-formation-request-list']">
          <span class="icon"><i class="fa fa-graduation-cap"></i></span>
          طلبات الدورات التدريبية
        </a>
        <a href="" [routerLink]="['/my-formation']">
          <span class="icon"><i class="fa fa-graduation-cap"></i></span>
          دوراتي
        </a>

        <a href="" [routerLink]="['/demissio-list']">
          <span class="icon"><i class="fa fa-times"></i></span>
          طلبات إستقالة
        </a>
        <a href="" [routerLink]="['/plaint-list']">
          <span class="icon"><i class="fa fa-user-times"></i></span>
          شكوى
        </a>

        <a href="" [routerLink]="['/pay-chequec-lis']">
          <span class="icon"><i class="fa fa-hand-holding-usd"></i></span>
          طلبات صرف شيك
        </a>

        <a href="" [routerLink]="['/avance-list-e']">
          <span class="icon"><i class="fa fa-hand-holding-usd"></i></span>
          طلبات سلفة
        </a>

        <a href="" [routerLink]="['/maitenance-request-list']">
          <span class="icon"><i class="fa fa-cog"></i></span>
          طلبات الصيانة والدعم الفني
        </a>

        <a href="" [routerLink]="['/attestation-travail-lis']">
          <span class="icon"><i class="fa fa-file-word"></i></span>
          طلبات شهادة عمل
        </a>

        <a href="" [routerLink]="['/creation-list']">
          <span class="icon"><i class="fa fa-briefcase"></i></span>
          طلبات استحداث وظيفة
        </a>

        <a href="" [routerLink]="['/demande-supp-heure-list']">
          <span class="icon"><i class="fa fa-clock"></i></span>
          طلبات ساعات إضافية
        </a>

        <a href="" [routerLink]="['/dem-assistance-list-user']">
          <span class="icon"><i class="fa fa-address-book"></i></span>
          طلبات  مباشرة عمل
        </a>

        <a href="" [routerLink]="['/partage-media-list-etab']">
          <span class="icon"><i class="fa fa-dollar-sign"></i></span>
          طلبات
          الرواتب الشهرية
        </a>

        <a href="" [routerLink]="['/change-rib-user-list']">
          <span class="icon"><i class="fa fa-money-check"></i></span>
          طلبات
          تعديل حساب بنكي
        </a>

      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
