<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <h2 class="task-head">قرارات  لفت نظر </h2>

      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="بحث">
      <div class="tabel-cont">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" (click)="sort('id')">
                <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th scope="col" (click)="sort('tacheNom')">
                الموظف
                <span class="glyphicon sort-icon" *ngIf="key =='tacheNom'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>


              <th scope="col" (click)="sort('creatorName')">
                الرقم الوظيفي
                <span class="glyphicon sort-icon" *ngIf="key =='creatorName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th scope="col" (click)="sort('creatorName')">
                المسمى الوظيفي
                <span class="glyphicon sort-icon" *ngIf="key =='creatorName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>

              <th scope="col" (click)="sort('tacheNom')">
                الإدارة
                <span class="glyphicon sort-icon" *ngIf="key =='tacheNom'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>

              <th scope="col" (click)="sort('description')">
                المخالفة
                <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th scope="col">طباعة</th>
              <th scope="col">تعديل</th>
              <th scope="col">حذف</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tache of DecList | orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: count, currentPage: c }; let i = index">

              <th [routerLink]="['/commun-details', tache.id]">{{(c-1) * count + i + 1}}</th>
              <td [routerLink]="['/commun-details', tache.id]">{{tache.userName}}</td>
              <td [routerLink]="['/commun-details', tache.id]">{{tache.num}}</td>
              <td [routerLink]="['/commun-details', tache.id]">{{tache.emploi}}</td>
              <td [routerLink]="['/commun-details', tache.id]">{{tache.adminName}}</td>
              <td [routerLink]="['/commun-details', tache.id]">{{tache.recom}}</td>
              <td><a class="btn btn-primary" [routerLink]="['/attention-report', tache.id]"><i class="fa fa-print"></i></a></td>
              <td><a class="btn btn-success" [routerLink]="['/attetion-add', tache.id]"><i class="fa fa-edit"></i></a></td>
              <td><a (click)="onDelete(tache.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
            </tr>

          </tbody>


        </table>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

          <pagination-controls (pageChange)="c = $event" previousLabel="السابق"
                               nextLabel="التالي"></pagination-controls>
        </ul>
      </nav>





    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
