/*-- Electronic Sevices Forms --*/
.task-form input:focus:not([type="submit"]):not([type="reset"]),
.task-form select:focus {
  outline-color: #999;
}

.task-form option:hover {
  border: none !important;
}

.service-form label {
  background-color: #91c3d8;
  color: #333;
}

.service-form select {
  width: 50%;
}

.service-form input[type="submit"] {
  width: 140px;
  font-size: 18px;
}

.service-form input[type="reset"] {
  width: 140px;
  font-size: 18px;
}

/*-- leave-request-list --*/
.leave-request-list table thead {
  background-color: #91c3d8;
}

.leave-request-list .ok,
.leave-request-list .refused {
  display: block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.leave-request-list .ok {
  background-color: #28a745 !important;
}

.leave-request-list .refused {
  background-color: #dc3545 !important;
}

/* Journal-file Page */
.radio-label {
  text-align: center;
  min-width: 0 !important;
  background-color: transparent !important;
}

/*
** New Style Added By Front End Developer In 23/7/2020
** Employee Pages
** Start With New-Requests Page
*/
.new-requests .nav-tabs .nav-link {
  color: #276985;
}

.new-requests .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #276985;
  border-color: #dee2e6 #dee2e6 #fff;
}

.new-requests .tab-pane a {
  color: #276985;
  display: flex;
  overflow: hidden;
  padding: 0 10px 0 0;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #dee2e6;
  align-items: center;
}

  .new-requests .tab-pane a:hover {
    background-color: #bbbec1;
  }

  .new-requests .tab-pane a:hover {
    text-decoration: none;
  }

  .new-requests .tab-pane a .num {
    padding: 5px 20px;
    background-color: #276985;
    color: #fff;
  }

.new-table th {
  color: #276985;
}

/* -- General format for table -- */
.theme-table thead {
  background-color: #276985;
  color: #fff;
}

.theme-table .stat {
  padding: 5px 10px;
  background-color: #276985;
  color: #fff;
}

.theme-table .link {
  color: #276985;
  padding: 5px;
  background-color: #d1d1d1;
  text-decoration: none;
}

  .theme-table .link:hover {
    opacity: 0.9;
  }

/* -- News-Page -- */

.news .news-box {
  padding: 15px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

  .news .news-box:nth-of-type(odd) {
    background-color: #eceeef;
  }

  .news .news-box:nth-of-type(even) {
    background-color: #f9f9f9;
  }

.news-box .journalist-img {
  padding: 5px;
  border: 2px solid #276985;
  border-radius: 5px;
  background-color: #fff;
}

  .news-box .journalist-img img {
    width: 100%;
    border-radius: 5px;
  }

.news-box .news-content {
  position: relative;
}

  .news-box .news-content h4 {
    color: #276985;
    width: 85%;
  }

  .news-box .news-content .news-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #d1d1d1;
  }

@media (max-width: 767px) {
  .news-box .journalist-img {
    width: 80%;
    margin: 0 auto 15px;
  }

  .news-box .news-content .news-date {
    bottom: 0;
    top: unset;
  }

  .news-box .news-content h4 {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .news-box .news-content h4 {
    width: 80%;
  }

  .news-box .news-content .news-date {
    bottom: 0;
    top: unset;
  }
}

/*news-add page*/
.task-form {
  padding: 10px 0;
}

.new-links {
  padding: 10px 0;
  border-top: 2px solid #666;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

  .new-links a {
    text-decoration: none;
    color: #276985;
    border: 1px solid #276985;
    padding: 5px 15px;
    border-radius: 8px;
    transition: 0.3s;
  }

    .new-links a:hover {
      background-color: #276985;
      color: #fff;
    }

/*-- Courses Page --*/
.courses .accord {
  padding: 8px 8px;
  border: 1px solid #d1d1d1;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  color: #276985;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  margin-top: 15px;
}

  .courses .accord:first-of-type {
    margin-top: 0;
  }

.accord:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: #276985;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  transition: 0.3s ease-in-out;
}

.accord.active {
  background-color: #276985;
  color: #fff;
}

  .accord.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
    color: #fff;
  }

.courses .accord:hover,
.accord:hover:after {
  background-color: #276985;
  color: #fff;
}

.courses .panel {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid;
  border-color: transparent #276985 #276985 #276985;
  border-radius: 0 0 5px 5px;
  display: none;
  color: #276985;
}

/* -- Emp-Card-Request Page -- */
.emp-photo-label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .emp-photo-label img {
    max-width: 70%;
    border-radius: 50%;
  }

.service-form p {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  width: 50%;
  color: #276985;
  background-color: #d1d1d1;
}

/* -- Decission Page -- */
.custum-tabs {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #276985;
}

  .custum-tabs .nav-item {
    margin-left: 10px;
  }

    .custum-tabs .nav-item:last-child {
      margin-left: 0;
    }

  .custum-tabs .nav-link {
    border-radius: 6px;
    border: 1px solid #276985;
    color: #276985;
  }

    .custum-tabs .nav-link:hover {
      border-radius: 6px;
      background: #276985;
      color: #fff;
    }

.filtering {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #276985;
  padding: 5px 0;
}

  .filtering a {
    color: #276985;
    text-decoration: none;
  }

  .filtering div:first-child a {
    border-left: 1px solid #888;
    padding-left: 10px;
  }

/*--- This Style Added in 26/8/2020 ---*/
/* Popup Page */
.popup-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

  .popup-page.close {
    display: none;
  }

  .popup-page .content {
    width: 60%;
    position: relative;
    background: #fff;
    color: #333;
    padding: 30px 20px;
    border-radius: 10px;
    top: 0;
  }

    .popup-page .content h2 {
      color: #276985;
    }

@media (max-width: 991px) {
  .popup-page {
    display: grid;
    place-items: center;
  }

    .popup-page .content {
      width: 90%;
      margin: 50px 0;
    }

      .popup-page .content .close-btn {
        top: 10px !important;
        left: 10px !important;
      }
}

.popup-page .content .close-btn {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  left: -40px;
  top: -40px;
  background: #ffffff;
  color: #000;
  border: 1px solid #999;
  font-weight: bold;
}

body.noscroll {
  overflow: hidden;
}

/* Event Gallery Page */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

  .items .item {
    width: 24%;
    min-width: 150px;
    border: 1px solid #276985;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 130px;
  }

    .items .item img,
    .items .item video {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      filter: grayscale(90%);
    }

    .items .item:hover img {
      filter: grayscale(0%);
    }

@media (max-width:767px) {
  .items .item {
    width: 48%;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .items .item {
    width: 32%;
  }
}
