<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">قائمة طلبات السلف</h3>
      </header>
      <div class="form-group pull-right">
        <input type="text"
               class="search form-control"
               placeholder="ما الذي تبحث عنه ؟"
               name="search" [(ngModel)]="filter" />
      </div>
      <span class="counter pull-right"></span>
      <div class="table-responsive">
        <table class="table results text-center table-bordered theme-table">
          <thead>
            <tr>

              <th scope="col">رقم الطلب</th>
              <th scope="col">الحالة</th>
              <th scope="col">المبلغ</th>
              <th scope="col">عدد أشهر الاستقطاع</th>
              <th scope="col">الاستقطاع شهر/سنة</th>
              <th scope="col">الحالة</th>
              <th scope="col">عرض التفاصيل</th>

              <th scope="col">تعديل</th>
              <th scope="col">حذف</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cg of factList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p }">

              <td (click)="populateForm(cg)">{{cg.id}}</td>
              <td (click)="populateForm(cg)">{{cg.etatAvance}}</td>
              <td (click)="populateForm(cg)">{{cg.prix}}</td>
              <td (click)="populateForm(cg)">{{cg.nbMoisDeduire}}</td>
              <td (click)="populateForm(cg)">{{cg.dateDeduire}}</td>
              <td (click)="populateForm(cg)"
                  [ngClass]="{

  'ok': cg.attribut2 === 'موافق',
  'refused': cg.attribut2 === 'رفض',
  'wait': cg.attribut2 === 'في الانتظار'
}">{{cg.attribut2}}</td>
              <td  (click)="populateForm(cg)">
                <a class="btn show-details-btn text-info" (click)="populateForm(cg)" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-eye fa-lg"></i>
                </a>
              </td>
              <td *ngIf="etatok" (click)="populateForm(cg)"><a class="btn btn-info" data-toggle="modal" data-target="#myModal1">تعديل</a></td>
              <td *ngIf="etatok" (click)="populateForm(cg)"><a class="btn btn-danger" (click)="onDelete(cg.id)">حذف</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

<div id="myModal" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">

        <div class="modal-body" style="direction:rtl; text-align:right;">
          <h2 class="text-center my-2">تفاصيل السلفة</h2>
          <div class="form-row task-form service-form text-center">


            <div class="col-md-6">

              <div>
                <label>رقم </label>
                <p>{{fact.id}}</p>
              </div>
              <div>
                <label>المبلغ </label>
                <p>{{fact.prix}}</p>
              </div>
              <div>
                <label>الحالة</label>
                <p>{{fact.etatAvance}}</p>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <label>عدد أشهر الاستقطاع</label>
                <p>{{fact.nbMoisDeduire}}</p>
              </div>
              <div>
                <label>أول شهر استقطاع</label>
                <p>{{fact.dateDeduire}}</p>
              </div>
              <div>
                <label>تاريخ الاضافة </label>
                <p>{{fact.dateenreg}}</p>
              </div>
            </div>


            <div class="col-md-12">
              <div>
                <label>التفاصيل</label>
                <p>
                  {{fact.detail}}
                </p>
              </div>
            </div>

            <div class="col-md-12" *ngIf="refuse">
              <div>
                <label>سبب الرفض</label>
                <p>
                  {{fact.attribut4}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div id="myModal1" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">

        <div class="modal-body" style="direction:rtl; text-align:right;">
          <h2 class="text-center my-2">تعديل السلفة</h2>
          <form class="task-form form-row" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <div class="col-md-6">
              <label for="amount3">المبلغ</label>
              <input type="number" min="0" id="amount3" name="prix" #prix="ngModel" [(ngModel)]="avanceService.formData.prix" required />
              <div *ngIf="prix.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
                مطلوب  المبلغ.

              </div>
            </div>
            <div class="col-md-6">
              <label for="req-stat">الحالة</label>
              <select id="req-stat" name="etatAvance" #etatAvance="ngModel" [(ngModel)]="avanceService.formData.etatAvance">
                <option [ngValue]="undefined" selected disabled>-الحالة-</option>
                <option value="مستعجل">مستعجل</option>
                <option value="غير مستعجل">غير مستعجل</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="">التفاصيل</label>
              <textarea class="form-control mb-3" name="detail" #detail="ngModel" [(ngModel)]="avanceService.formData.detail"></textarea>
            </div>
            <div class="col-md-6">
              <label for="months">عدد أشهر الاستقطاع</label>
              <input type="number" min="0" id="months" name="nbMoisDeduire" #nbMoisDeduire="ngModel" [(ngModel)]="avanceService.formData.nbMoisDeduire" />
              <label for="first-month"> أول شهر استقطاع</label>
              <input type="month" id="first-month" name="dateDeduire" #dateDeduire="ngModel" [(ngModel)]="avanceService.formData.dateDeduire" />
            </div>

            <div class="col-md-12 text-left">
              <input type="submit"
                     style="width: 130px;"
                     class="btn btn-info next"
                     value="تقديم" />
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
