<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/main-not-accepted']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-home"></i></span>
    الرئيسية
  </a>

  <a [routerLink]="['/facture-list-comptable']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-briefcase"></i></span>
    قائمة الفواتير
  </a>

  <a [routerLink]="['/permission-list-dir']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-bell"></i></span>
    قائمة طلبات المستحقات
  </a>


</nav>
