
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head"> العلاقات العامة و الإعلام</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <a href="" [routerLink]="['/interview-list-users']">
            <span class="icon"><i class="fa fa-handshake"></i></span>
            اللقاءات
          </a>

          <a href="" [routerLink]="['/exthechnique-list-dir']">
            <span class="icon"><i class="fa fa-music"></i></span>
            التمديدات الفنية
          </a>

          <a href="" [routerLink]="['/recording-archive-list-dir']">
            <span class="icon"><i class="fa fa-camera-retro"></i></span>
            التوثيق والتصوير
          </a>

          <a href="" [routerLink]="['/cadeaux-list-dir']">
            <span class="icon"><i class="fa fa-trophy"></i></span>
            الهدايا التذكارية و التكريم
          </a>

          <a href="" [routerLink]="['/rendonne-list-dir']">
            <span class="icon"><i class="fa fa-hiking"></i></span>
            إقامة الرحلات واللقاءات
          </a>

          <a href="" [routerLink]="['/occasion-soiree-list-dir']">
            <span class="icon"><i class="fa fa-gifts"></i></span>
            إقامة المناسبات والحفلات
          </a>

          <a href="" [routerLink]="['/partage-media-list-dir']">
            <span class="icon"><i class="fa fa-bullhorn"></i></span>
            النشر الإعلامي
          </a>

          <a href="" [routerLink]="['/film-list-dir']">
            <span class="icon"><i class="fa fa-film"></i></span>
            انتاج فيلم
          </a>

          <a href="" [routerLink]="['/visite-list-dir']">
            <span class="icon"><i class="fa fa-home"></i></span>
            الزيارات
          </a>

          <a href="" [routerLink]="['/montage-list-dir']">
            <span class="icon"><i class="fa fa-photo-video"></i></span>
            المونتاج
          </a>

          <a href="" [routerLink]="['/design-list-recep']">
            <span class="icon"><i class="fa fa-print"></i></span>
            التصميم و الطباعة
          </a>
          
        </div>

      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

