<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
    
      <!-- Second Navbar -->
      <!-- Tasks Page Content -->
      <section class="page-content">
        <h4 class="my-2 task-head"> إضافة مستقطع</h4>
        <form action="" class="task-form form-row stop-form" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
          <div class="col-sm-6">
            <label for="reg-date"><span><i class="fa fa-money-check"></i></span> الاستقطاع  </label>
            &nbsp; &nbsp; <input type="radio" name="date" value="newone" (click)="setradio('newone')" ngModel>&nbsp; &nbsp; استقطاع بنكي
            &nbsp; &nbsp; <input type="radio" name="date" value="oldone" (click)="setradio('oldone')" [checked]='true' ngModel>&nbsp; &nbsp;استقطاع يدوي
          </div>
          <div class="col-md-6">
            <label for="rent-stop-name"><span><i class="fa fa-pen-square fa-lg"></i></span>	نوع التبرع  </label>
            <select id="building" name="typedons" #typedons="ngModel" [(ngModel)]="retrait.typedons">
              <option [ngValue]="undefined" selected disabled>- 	نوع التبرع  -</option>
              <option *ngFor="let item of tbl" value="{{item.nom}}">{{item.nom}}</option>
            </select>
          </div>
          <br />
          <hr class="style1" />
          <br />
          <div class="col-md-12">
            <label for="rent-cost" style="background-color:#344760 ; color:white">معلومات المستقطع</label>

          </div>
          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-user fa-lg"></i></span>الاسم</label>
            <input type="text" id="rent-cost" name="nom" #nom="ngModel" [(ngModel)]="retrait.nom">
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-building fa-lg"></i></span>الجهة</label>
            <input type="text" id="rent-cost" name="organisme" #organisme="ngModel" [(ngModel)]="retrait.organisme">
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-phone fa-lg"></i></span>الجوال</label>
            <input type="text" id="rent-cost" name="tel" #tel="ngModel" [(ngModel)]="retrait.tel">
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-id-card fa-lg"></i></span>حساب المستقطع</label>
            <input type="text" id="rent-cost" name="rib" #rib="ngModel" [(ngModel)]="retrait.rib">
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-briefcase fa-lg"></i></span>بنك المستقطع</label>

            <select id="building" name="banque" #banque="ngModel" [(ngModel)]="retrait.banque">
              <option [ngValue]="undefined" selected disabled>- 	البنك -</option>
              <option *ngFor="let item of ListB" value="{{item.type}}">{{item.type}}</option>

            </select>
          </div>
          <hr class="style1" />
          <br />
          <div class="col-md-12">
            <label for="rent-cost" style="background-color:#344760 ; color:white">معلومات المستفيد</label>

          </div>
          <br />
          <div class="col-md-6">
            <label for="contract-num">
              <span><i class="fa fa-user-alt fa-lg"></i></span>
              المستفيد
            </label>
            <select id="building" name="nomben" #nomben="ngModel" [(ngModel)]="retrait.nomben">
              <option [ngValue]="undefined" selected disabled>- 	المستفيد -</option>
              <option *ngFor="let item of benList" value="{{item.nomprenom}}">{{item.nomprenom}}</option>

            </select>
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-id-card fa-lg"></i></span>حساب المستفيد</label>
            <input type="text" id="rent-cost" name="ribben" #ribben="ngModel" [(ngModel)]="retrait.ribben">
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-briefcase fa-lg"></i></span>بنك المستفيد</label>

            <select id="building" name="nombanque" #nombanque="ngModel" [(ngModel)]="retrait.nombanque">
              <option [ngValue]="undefined" selected disabled>- 	البنك -</option>
              <option *ngFor="let item of ListB" value="{{item.type}}">{{item.type}}</option>

            </select>
          </div>


          <div class="col-md-6">
            <p><br /></p>
          </div>

          <div class="col-md-6">
            <label for="rent-cost"><span><i class="fa fa-calendar fa-lg"></i></span>بداية الإستقطاع ميلادي</label>
            <input type="date" id="rent-cost" name="datedebutmiledi" #datedebutmiledi="ngModel" [(ngModel)]="retrait.datedebutmiledi">
          </div>

          <div class="col-md-6">
            <label for="rent-time"><span><i class="fa fa-calendar fa-lg"></i></span>نهاية الإستقطاع ميلادي</label>
            <input type="date" id="rent-time" name="datefinmiledi" #datefinmiledi="ngModel" [(ngModel)]="retrait.datefinmiledi">

          </div>
          <div class="col-md-6">
            <div class="form-group form-inline">

              <label for="inputhijdate"><span><i class="fa fa-calendar fa-lg"></i></span>بداية الإستقطاع هجري</label>

              <div id="input_container">
                <a (click)="d.toggle()"><i id="input_icon" class="fa fa-calendar-alt"></i></a>
                <input id="inputhijdate" class="form-control" style="width:230px;"
                       name="datedebuthij" #datedebuthij="ngModel"
                       [(ngModel)]="model" ngbDatepicker
                       #d="ngbDatepicker" (dateSelect)="onDateSelect($event)">



              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group form-inline">
              <label for="inputhijdate"><span><i class="fa fa-calendar fa-lg"></i></span>نهاية الإستقطاع هجري</label>

              <div id="input_container">
                <a (click)="c.toggle()"><i id="input_icon" class="fa fa-calendar-alt"></i></a>
                <input id="inputhijdate" class="form-control" style="width:230px;"
                       name="datefinhij" #datefinhij="ngModel"
                       [(ngModel)]="model1" ngbDatepicker
                       #c="ngbDatepicker" (dateSelect)="onDateSelect2($event)">



              </div>
            </div>
          </div>




          <div class="col-md-6">
            <label for="contract-num"><span><i class="fa fa-coins fa-lg"></i></span>المبلغ</label>
            <input type="number" id="contract-num" name="prix" #prix="ngModel" [(ngModel)]="retrait.prix">
          </div>

          <div class="col-md-6">
            <label for="contract-num"><span><i class="fa fa-user-circle fa-lg"></i></span>  المندوب</label>
            <input type="text" id="contract-num" name="delegues" #delegues="ngModel" [(ngModel)]="retrait.delegues">
          </div>

          <div class="mx-auto my-3">
            <button class="btn btn-primary px-2 ml-3" type="submit"><span class="ml-4"><i class="fa fa-save fa-lg"></i></span> حفظ</button>
          </div>
        </form>
      </section>
    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

