<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/projet-class']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa fa-sitemap"></i></span>
    الأقسام
  </a>



  <a [routerLink]="['/projet-pay-activite']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-money-bill"></i></span>
    الأنشطة
  </a>

  <a [routerLink]="['/projet-pay-type']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-file-invoice-dollar"></i></span>
    الفئة المستفيدة
  </a>

  <a [routerLink]="['/projet-org-supp']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-hand-holding-usd"></i></span>
    الجهات الداعمة
  </a>

</nav>
