<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <app-menu-supp-heure></app-menu-supp-heure>
      <header>
        <h3 class="task-head">إضافة ساعات إضافية</h3>
      </header>


      <form class="form-row task-form text-center" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="col-md-6">
          <label for="">الموظف</label>
          <select (change)="getusernum($event)" name="userId" #userId="ngModel" [(ngModel)]="sup.userId" required>
            <option [ngValue]="undefined" selected disabled>اسم الموظف</option>
            <option *ngFor="let item of UsersList" value="{{item.id}}">{{item.fullName}}</option>
          </select>

          <div *ngIf="userId.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب صنف العطل .
          </div>


        </div>
        <div class="col-md-6">
          <label for="">الرقم الوظيفي</label>
          <input type="text" value="{{usernum}}" disabled />
        </div>
        <div class="col-md-6">
          <label for="">عدد الساعات</label>
          <input type="number" min="0" name="nbHeure" #nbHeure="ngModel" [(ngModel)]="sup.nbHeure" required />

          <div *ngIf="nbHeure.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب عدد الساعات .
          </div>
        </div>
        <div class="col-md-6">
          <label for="">التاريخ</label>
          <input type="date" name="date" #date="ngModel" [(ngModel)]="sup.date" required />
          <div *ngIf="date.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب التاريخ .
          </div>
        </div>
        <div class="col-md-6">
          <label for="">القيمة</label>
          <input type="number" min="0" name="valeur" #valeur="ngModel" [(ngModel)]="sup.valeur" required />
          <div *ngIf="valeur.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب القيمة .
          </div>
        </div>
        <div class="col-md-6">
          <label for="">شهر الدفع</label>
          <input type="month" name="moisPay" #moisPay="ngModel" [(ngModel)]="sup.moisPay" required />
          <div *ngIf="moisPay.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب شهر الدفع .
          </div>
        </div>
        <div class="col-md-6">
          <label for="add-det">التفاصيل</label>
          <textarea name="detail" #detail="ngModel" [(ngModel)]="sup.detail"
                    id="add-det"
                    class="form-control mb-2"></textarea>
        </div>
        <div class="col-md-6">
          <label for="">إرفاق تعهد</label>
          <ngx-dropzone (change)="upload($event);onSelect($event)" class="dropzone" #inputFile>
            <ngx-dropzone-label>اسحب الملفات هنا او اضغط للتحميل</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="col-12 text-center text-md-left mt-3">
          <input class="btn btn-info"
                 style="width: 130px;"
                 type="submit"
                 value="إضافة" />
        </div>
      </form>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
