
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">

      <header>
        <h3 class="task-head">إعدادات البرنامج </h3>
      </header>

      <span class="counter pull-right"></span>
      <div class="table-responsive">
        <table class="table results text-center table-bordered theme-table">
          <thead>
            <tr>
              <th scope="col">شعار الجمعية</th>
              <th scope="col">الخلفية</th>
              <th scope="col">شعار التقارير (الأيمن)</th>
              <th scope="col">شعار التقارير (الأيسر) </th>
              <th scope="col">الإمضاء</th>
          
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of List">

              <td (click)="populateForm(c)">

                <a (click)="download(c.icon1)" class="ml-3" *ngIf="c.icon1!=null">
                  <span><i class="fa fa-file-download fa-lg" style="color:dodgerblue"></i></span>
                </a>

                <input type="file" id="report-copy" (change)="upload1($event)"  hidden />
                <label for="report-copy" class="file-label">
                  <span><i class="fa fa-file-upload fa-lg" style="color:red"></i></span>
                </label>


                <div class="col-md-6">
                  <div class="success-msg" *ngIf="succ">
                    <i class="fa fa-check"></i>
                    {{msg}}
                  </div>

                  <div class="error-msg" *ngIf="failed">
                    <i class="fa fa-times-circle"></i>
                    {{msg}}
                  </div>
                </div>


              </td>

              <td (click)="populateForm(c)">
               
                  <a *ngIf="c.homeBackground!=null" (click)="download(c.homeBackground)" class="ml-3">
                    <span><i class="fa fa-file-download fa-lg" style="color:dodgerblue"></i></span>
                  </a>

                  <input type="file" id="report-copy" (change)="upload2($event)"  hidden />
                  <label for="report-copy" class="file-label">
                    <span><i class="fa fa-file-upload fa-lg" style="color:red"></i></span>
                  </label>
                

          
              </td>

              <td (click)="populateForm(c)">
                
                  <a *ngIf="c.reportRightIcon!=null" (click)="download(c.reportRightIcon)" class="ml-3">
                    <span><i class="fa fa-file-download fa-lg" style="color:dodgerblue"></i></span>
                  </a>

                  <input type="file" id="report-copy" (change)="upload3($event)" #inputFile hidden />
                  <label for="report-copy" class="file-label">
                    <span><i class="fa fa-file-upload fa-lg" style="color:red"></i></span>
                  </label>
               


       
              </td>


              <td (click)="populateForm(c)">
           
                  <a *ngIf="c.reportLeftIcon!=null" (click)="download(c.reportLeftIcon)" class="ml-3">
                    <span><i class="fa fa-file-download fa-lg" style="color:dodgerblue"></i></span>
                  </a>

                  <input type="file" id="report-copy" (change)="upload4($event)" #inputFile hidden />
                  <label for="report-copy" class="file-label">
                    <span><i class="fa fa-file-upload fa-lg" style="color:red"></i></span>
                  </label>
               


        
              </td>


              <td (click)="populateForm(c)">
              
                  <a *ngIf="c.reportSignature!=null" (click)="download(c.reportSignature)" class="ml-3">
                    <span><i class="fa fa-file-download fa-lg" style="color:dodgerblue"></i></span>
                  </a>

                  <input type="file" id="report-copy" (change)="upload5($event)" #inputFile hidden />
                  <label for="report-copy" class="file-label">
                    <span><i class="fa fa-file-upload fa-lg" style="color:red"></i></span>
                  </label>
               


       
              </td>

            </tr>
          </tbody>
        </table>


        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                 nextLabel="التالي"></pagination-controls>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <a class="navbar-brand" href="#"> <img src="assets/images/awal.png" style="width:40px;height:40px;"></a> </p>
</footer>
