<section class="page-content">
  <div class="d-flex flex-wrap p-2 bd-highlight nav-2">

    <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
      <div class="sympol">
        <span style="font-size:40px;color:#f51a16;text-align:center"><i class="fa fa-bell"></i></span>
      </div>
      <div class="text">
        <p style="font-size:20px;color:#f51a16">تذاكر مرسلة</p>
        <span style="color:#f51a16;font-size:30px;">{{nbWait}}</span>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
      <div class="sympol">
        <span style="font-size:40px;color:#3957ed;text-align:center"><i class="fa fa-pencil-alt"></i></span>
      </div>
      <div class="text">
        <p style="font-size:20px;text-align:center;color:#3957ed"> تذاكر تم الإستلامها</p>


        <span style="color:#3957ed;font-size:30px;">{{nbReceived}}</span>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
      <div class="sympol">
        <span style="font-size:40px;color:#0f630a;text-align:center"><i class="fa fa-times-circle"></i></span>
      </div>
      <div class="text">
        <p style="font-size:20px;text-align:center;color:#0f630a">تذاكر مغلقة</p>


        <span style="color:#0f630a;font-size:30px;">{{nbColse}}</span>
      </div>
    </div>

  </div>
</section>
