<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">أرشيف الطلبات</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <a href="" [routerLink]="['/histo-services-menus']">
            <span class="icon"><i class="fa fa-users-cog"></i></span>
            أرشيف  طلبات الموظفين
          </a>
          <a href="" [routerLink]="['/histo-media-menus']">
            <span class="icon"><i class="fa fa-comment-dots"></i></span>
            أرشيف طلبات العلاقات العامة والاعلام
          </a>

          <a href="" [routerLink]="['/histo-dotation-menus']">
            <span class="icon"><i class="fa fa-car-alt"></i></span>
            أرشيف  طلبات الأوقاف و الخدمات
          </a>

        </div>

      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

