.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"],
  .task-form input[type="number"],
  .task-form select {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.file-label {
  cursor: pointer;
}

.radio-lab {
  display: inline-block;
  min-width: 50px;
  border-radius: 0;
  padding-right: 4px;
  margin-left: 10px;
  cursor: pointer;
  background-color:white;
  background:none;
}

.pay-method1,
.pay-method2,
.programs,
.other-input {
  background: #f1f1f1;
  padding: 15px 0 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

#pay-method1:checked ~ .pay-method1 {
  display: block;
}

#pay-method2:checked ~ .pay-method2 {
  display: block;
}

#programs:checked ~ .programs {
  display: block;
}

#other-input:checked ~ .other-input {
  display: block;
}
