<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/typedotation']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-building"></i></span>
    نوع الوقف
  </a>

  <a [routerLink]="['/etatdotation']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-building"></i></span>
    حالة الوقف
  </a>

  <a [routerLink]="['/enregistrer-dotation']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-building"></i></span>
    تسجيل وقف
  </a>
  <!--
  <a [routerLink]="['/typeunite']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-home"></i></span>
    نوع الوحدة
  </a>

  <a [routerLink]="['/etatunite']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-home"></i></span>
    حالة الوحدة
  </a>

  <a [routerLink]="['/service-revenus']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-cog"></i></span>
    الخدمات
  </a>
  <a [routerLink]="['/depot-revenus']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-euro-sign"></i></span>
    بيانات الايداع
  </a>

  <a [routerLink]="['/bureau-immob-page']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-building"></i></span>
    مكتب الوقف
  </a>
     -->
</nav>
