<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">الأخبار</h3>
      </header>

      <div class="news px-3">
        <div class="news-box row" *ngFor="let ne of newsList">
          <div class="col-md-3">
            <div class="journalist-img">
              <img src="/uploads/{{ne.photo}}" alt="Image" />
            </div>
          </div>
          <div class="col-md-9">
            <div class="news-content">
              <h4>
                {{ne.titre}}
              </h4>
              <p>
                {{ne.description}}
              </p>
              <a [routerLink]="['/news-detail', ne.id]" class="btn btn-primary">المزيد</a>
              <span class="news-date">{{ne.date}}</span>
            </div>
          </div>
        </div>

      </div>

      <!--


              <select (change)="getconnectionId($event)">
        <option *ngFor="let ne of list" value="{{ne}}">{{ne}}</option>
      </select>
      <input type="text" (change)="getmessage($event)" />
      <button type="submit" (click)="send()">send</button>
      <ul id="messages">
      </ul>

  End News -->
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

