<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">الأخبار</h3>
      </header>
      <div class="news-page">
        <div class="new" *ngFor="let ne of newsList">
          <div class="header">
            <div class="title"><strong>{{ne.titre}}</strong></div>
            <div class="date">{{ne.date}}</div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="img-wrapper">
                <img src="/uploads/{{ne.photo}}" class="w-100" alt="">
              </div>
            </div>
            <div class="col-md-10">
              <div class="text">
                <p class="text-right">
                  {{ne.description}}
                </p>
                <div class="link">
                  <a style="float: left;" [routerLink]="['/news-detail', ne.id]" class="btn btn-outline-info">المزيد</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

