

/* Queries And Services*/
.que-serv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

  .que-serv a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    min-width: 200px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    color: #fff;
    background: #276985;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    box-shadow: 5px 5px 15px 0px #5c5c5d;
    width: 300px;
    height: 150px;
    font-size: 30px;
  }

    .que-serv a .icon {
      font-size: 50px;
    }

    .que-serv a:hover {
      background: #fff;
      color: #276985;
    }
