<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/beneficiaire-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user-check"></i></span>
    المستفيدون
  </a>

  <a [routerLink]="['/classe-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-home"></i></span>
    الأقسام
  </a>

  <a [routerLink]="['/outils-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-mosque"></i></span>
    الوسائل الدعوية
  </a>

  <a [routerLink]="['/depense-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-coins"></i></span>
    المصروفات
  </a>

  <a [routerLink]="['/tache-ev-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-spinner"></i></span>
    المهمات
  </a>
  <a [routerLink]="['/activity-c']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-edit"></i></span>
    الأنشطة
  </a>

  <a [routerLink]="['/langue-ev']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-globe"></i></span>
    اللغات
  </a>


</nav>
