<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head"> إستعلامات الاوقاف والخدمات </h3>
      </header>
      <div class="que-serv">

        <a href="" [routerLink]="['/demande-voiture-list-user']">
          <span class="icon"><i class="fa fa-car"></i></span>
          طلبات  سيارة
        </a>
        <a href="" [routerLink]="['/cars-repair-request-list']">
          <span class="icon"><i class="fa fa-car-crash"></i></span>
          طلبات  صيانة سيارة
        </a>

        <a href="" [routerLink]="['/list-ordre-pay']">
          <span class="icon"><i class="fa fa-box-open"></i></span>
          طلبات  صرف من المستودع
        </a>
        <a href="" [routerLink]="['/service-vente-list']">
          <span class="icon"><i class="fa fa-shopping-cart"></i></span>
          طلبات الشراء
        </a>

        <a href="" [routerLink]="['/dem-tech-list-user']">
          <span class="icon"><i class="fa fa-laptop"></i></span>
          طلبات خدمات تقنية
        </a>

        <a href="" [routerLink]="['/all-maintenance-list-user']">
          <span class="icon"><i class="fa fa-cogs"></i></span>
          طلبات الصيانة
        </a>

      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
