<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <header>
        <h3 class="task-head">{{news.titre}}</h3>
      </header>


      <div class="news-details">

        <div class="container-fluid">
          <div class="task-head mb-0">
            <div class="date">
              {{news.date}}
            </div>
            <span>{{news.titre}}</span>
            <div class="share-icons">
              <!--<a href="" class="whats"><i class="fab fa-whatsapp"></i></a>
  <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
  <a href="" class="twitter"><i class="fab fa-twitter"></i></a>-->
            </div>
          </div>
          <img src="{{pathurl}}" class="w-100" alt="">
          <div class="details-text">
            <p>
              {{news.contenu}}
            </p>

          </div>
          <hr>
          <h3 class="text-center">اقرأ أيضا</h3>
          <hr>
          <div class="row">
            <div class="col-md-3" *ngIf="testne1">
              <div class="card new" style="width: 100%;">
                <img class="card-img-top" src="/uploads/{{ne1.photo}}" alt="Card image cap">
                <div class="header">
                  <div class="title">{{ne1.titre}}</div>
                  <div class="date">{{ne1.date}}</div>
                </div>
                <div class="card-body">
                  <p class="card-text">  {{ne1.description}}</p>
                  <a [routerLink]="['/news-detail', ne1.id]" class="btn btn-info">اقرأ المزيد</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" *ngIf="testne2">
              <div class="card new" style="width: 100%;">
                <img class="card-img-top" src="/uploads/{{ne2.photo}}" alt="Card image cap">
                <div class="header">
                  <div class="title">{{ne2.titre}}</div>
                  <div class="date">{{ne2.date}}</div>
                </div>
                <div class="card-body">
                  <p class="card-text">  {{ne2.description}}</p>
                  <a [routerLink]="['/news-detail', ne2.id]" class="btn btn-info">اقرأ المزيد</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" *ngIf="testne3">
              <div class="card new" style="width: 100%;">
                <img class="card-img-top" src="/uploads/{{ne3.photo}}" alt="Card image cap">
                <div class="header">
                  <div class="title">{{ne3.titre}}</div>
                  <div class="date">{{ne3.date}}</div>
                </div>
                <div class="card-body">
                  <p class="card-text">  {{ne3.description}}</p>
                  <a [routerLink]="['/news-detail', ne3.id]" class="btn btn-info">اقرأ المزيد</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" *ngIf="testne4">
              <div class="card new" style="width: 100%;">
                <img class="card-img-top" src="/uploads/{{ne4.photo}}" alt="Card image cap">
                <div class="header">
                  <div class="title">{{ne4.titre}}</div>
                  <div class="date">{{ne4.date}}</div>
                </div>
                <div class="card-body">
                  <p class="card-text">  {{ne4.description}}</p>
                  <a [routerLink]="['/news-detail', ne4.id]" class="btn btn-info">اقرأ المزيد</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
    </div>
  </div>


<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
