<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">
  <a [routerLink]="['/liste-dotation']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-building"></i></span>
    قائمة الأوقاف
  </a>

  <a [routerLink]="['/locataire-dot-add']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user"></i></span>
    تسجيل مستاجر
  </a>

  <a [routerLink]="['/enregistrer-revenus']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-money-bill"></i></span>
    سداد الإجارات
  </a>
  <a [routerLink]="['/edit-revenus']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-th-list"></i></span>
    قائمة السداد
  </a>
  <a [routerLink]="['/revenus-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user"></i></span>
    قائمة المستاجرين
  </a>
  <!-- <a [routerLink]="['/liste-unite']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-coins"></i></span>
     سداد الإجارات
   </a>

      <a [routerLink]="['/liste-locataire']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user-alt"></i></span>
    قائمة المستأجرين
  </a>
    -->


</nav>
