

<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">طلبات الموظفين</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <a href="" [routerLink]="['/menurequests']">
            <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
            طلبات إجازة
          </a>
          <a href="" [routerLink]="['/permission-list-dir']">
            <span class="icon"><i class="fa fa-walking"></i></span>
            طلبات إذن
          </a>
          <a href="" [routerLink]="['/recrutmenet-dir-list']">
            <span class="icon"><i class="fa fa-user-friends"></i></span>
            طلبات انتداب
          </a>
          <a href="" [routerLink]="['/equipement-list-dir']">
            <span class="icon"><i class="fa fa-toolbox"></i></span>
            طلبات عهد
          </a>

          <a href="" [routerLink]="['/cre-finan-list-director']">
            <span class="icon"><i class="fa fa-funnel-dollar"></i></span>
            طلبات المستحقات المالية
          </a>

          <a href="" [routerLink]="['/demande-formation-listdir']">
            <span class="icon"><i class="fa fa-graduation-cap"></i></span>
            طلبات دورة تدريبية
          </a>

          <a href="" [routerLink]="['/plaint-listdir']">
            <span class="icon"><i class="fa fa-user-times"></i></span>
            شكوى
          </a>

          <a href="" [routerLink]="['/demande-supp-heure-list-director']">
            <span class="icon"><i class="fa fa-clock"></i></span>
            طلبات ساعات إضافية
          </a>

          <a href="" [routerLink]="['/creation-list-dir']">
            <span class="icon"><i class="fa fa-briefcase"></i></span>
            طلبات استحداث وظيفة
          </a>


        </div>

      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>


