<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salary</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Main Style File -->
  <link rel="stylesheet" href="css/print-style.css">
</head>
<body>
  <a class="btn show-details-btn text-info" (click)="print()">
    <i class="fa fa-print fa-lg"></i>
  </a>
  <br />
  <br />

  <div class="salary-page font-droid-kufi" id="htmlData">
    <header>
      <img class="img1" src="assets/images/taef.jpeg" alt="">
      <div class="header-title">
        Association for Call, Guidance
        <br />
        and Awareness of Communities in Taif Governorate
      </div>
      <img class="img2" src="assets/images/vision-2030.png" alt="">
    </header>
    <div class="d-flex justify-content-between" style="padding: 10px 50px;border-bottom: 1px solid #ddd;">
      <div>Number <span class="space-150"></span></div>
      <div>Administration / <span>{{user.nomAdministration}}</span></div>
      <div>Section / <span>{{user.nomDepartement}}</span></div>
      <div>Date / <span>{{today}}</span></div>
      <div>Topic / <span>---------</span></div>
      <div>Entitlements / <span>---------</span></div>
    </div>
    <div class="content">
      <h2 class="header-title">Definition of salary</h2>
      <div class="table-responsive">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td colspan="5">{{user.fullName}}</td>
              <th scope="row">Name</th>

            </tr>
            <tr>

              <td colspan="2">{{user.nationalite}}</td>
              <th>Nationality</th>

              <td colspan="2">{{user.registreCivil}}</td>
              <th>Identification Number</th>
            </tr>
            <tr>
              <td colspan="2">
                <span>{{user.num}}</span>
              </td>
              <th>Job Number</th>
              <td colspan="2">{{user.daterectrutement}}</td>
              <th>Date of hiring</th>

            </tr>
            <tr>
              <td>{{user.emploi}}</td>
              <th>Job title</th>
              <td>{{user.rang}}</td>
              <th>Rank</th>
              <td>{{user.degre}}</td>
              <th>Degree</th>

            </tr>
            <tr>
              <td>{{user.salaire}}</td>
              <th>Basic salary</th>
              <td>{{user.typeQualification}}</td>
              <th>Housing allowance</th>
              <td>{{user.autreIndemnite}}</td>
              <th>Other allowances</th>

            </tr>
            <tr>
              <td colspan="5">{{user.etatuser}}</td>
              <th>Total salary</th>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="centered">
        <p>
          <span class="variable-text">The Association for Call, Guidance and Awareness of Communities in Taif Governorate,  </span>
         
        </p>
        <p class="classP"> Certifies that the above-mentioned data is from the Association’s employees and is still on the job.</p>
        <p class="classP2">
          And at his request, this scene was given to present it to whomever it may concern, without any responsibility on the
          part of the association.
        </p>
        <p>God bless ..
        <br />
          </p>
       
        <div class="w-100 d-flex">
          <div style="flex: 1;"></div>
          <div class="text-center" style="flex: 1;">
            <img src="assets/images/stamp.jpg" class="d-inline-block m-auto" width="120" alt="">
          </div>
          <div class="sign" style="flex: 1;">
            <span>Director of the Department of Financial and Administrative Affairs</span><br>
            <!-- صورة التوقيع هنا -->
            <img src="assets/images/sign.png" width="140" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>


</body>
</html>
