<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head"> طلبات الموظفين</h3>
      </header>
      <div class="que-serv">
        <a href="" [routerLink]="['/rh-conge-list']">
          <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
          طلبات إجازة
        </a>
        <a href="" [routerLink]="['/permession-list-rh']">
          <span class="icon"><i class="fa fa-walking"></i></span>
          طلبات إذن
        </a>
        <a href="" [routerLink]="['/rh-recrutment-list']">
          <span class="icon"><i class="fa fa-user-friends"></i></span>
          طلبات انتداب
        </a>

        <a href="" [routerLink]="['/salaiale-dir-lis']">
          <span class="icon">
            <i class="fa fa-file-invoice-dollar"></i>
          </span>
          طلبات مشهد براتب
        </a>
        <a href="" [routerLink]="['/residence-list-dir']">
          <span class="icon"><i class="fa fa-home"></i></span>
          طلبات تجديد إقامة
        </a>

        <a href="" [routerLink]="['/cre-finan-list-accepted']">
          <span class="icon"><i class="fa fa-funnel-dollar"></i></span>
          طلبات المستحقات المالية
        </a>

        <a href="" [routerLink]="['/demande-formation-list-rh']">
          <span class="icon"><i class="fa fa-graduation-cap"></i></span>
          دورة تدريبية
        </a>


        <a href="" [routerLink]="['/plaint-listdir']">
          <span class="icon"><i class="fa fa-user-times"></i></span>
          شكوى
        </a>


        <a href="" [routerLink]="['/ticket-dir-lis']">
          <span class="icon"><i class="fa fa-user-tag"></i></span>

          طلبات بطاقة موظف
        </a>

        <a href="" [routerLink]="['/demande-supp-heure-listcreator']">
          <span class="icon"><i class="fa fa-clock"></i></span>
          طلبات ساعات إضافية
        </a>

        <a href="" [routerLink]="['/creation-list-rh']">
          <span class="icon"><i class="fa fa-briefcase"></i></span>
          طلبات استحداث وظيفة
        </a>

        <a href="" [routerLink]="['/attestation-travail-rh-list']">
          <span class="icon"><i class="fa fa-file-word"></i></span>
          طلبات شهادة عمل
        </a>

        <a href="" [routerLink]="['/demission-edit']">
          <span class="icon"><i class="fa fa-times-circle"></i></span>
          طلبات إستقالة
        </a>


        <a href="" [routerLink]="['/dem-assistance-listerh']">
          <span class="icon"><i class="fa fa-address-book"></i></span>
          طلبات إشراف
        </a>
        <a href="" [routerLink]="['/avance-rhlist']">
          <span class="icon"><i class="fa fa-funnel-dollar"></i></span>
          طلبات السلفة
        </a>

        <a href="" [routerLink]="['/change-rib-rh-list']">
          <span class="icon"><i class="fa fa-money-check"></i></span>
          طلبات تعديل حساب بنكي
        </a>
        <a href="" [routerLink]="['/interview-list-users']">
          <span class="icon"><i class="fa fa-handshake"></i></span>
          اللقاءات
        </a>

        <a href="" [routerLink]="['/exthechnique-list-dir']">
          <span class="icon"><i class="fa fa-music"></i></span>
          التمديدات الفنية
        </a>

        <a href="" [routerLink]="['/recording-archive-list-dir']">
          <span class="icon"><i class="fa fa-camera-retro"></i></span>
          التوثيق والتصوير
        </a>

        <a href="" [routerLink]="['/cadeaux-list-dir']">
          <span class="icon"><i class="fa fa-trophy"></i></span>
          الهدايا التذكارية و التكريم
        </a>

        <a href="" [routerLink]="['/rendonne-list-dir']">
          <span class="icon"><i class="fa fa-hiking"></i></span>
          إقامة الرحلات واللقاءات
        </a>

        <a href="" [routerLink]="['/occasion-soiree-list-dir']">
          <span class="icon"><i class="fa fa-gifts"></i></span>
          إقامة المناسبات والحفلات
        </a>

        <a href="" [routerLink]="['/partage-media-list-dir']">
          <span class="icon"><i class="fa fa-bullhorn"></i></span>
          النشر الإعلامي
        </a>

        <a href="" [routerLink]="['/film-list-dir']">
          <span class="icon"><i class="fa fa-film"></i></span>
          انتاج فيلم
        </a>

        <a href="" [routerLink]="['/visite-list-dir']">
          <span class="icon"><i class="fa fa-home"></i></span>
          الزيارات
        </a>

        <a href="" [routerLink]="['/montage-list-dir']">
          <span class="icon"><i class="fa fa-photo-video"></i></span>
          المونتاج
        </a>

        <a href="" [routerLink]="['/design-list-recep']">
          <span class="icon"><i class="fa fa-print"></i></span>
          التصميم و الطباعة
        </a>
        <a href="" [routerLink]="['/forbidden-page']">
          <span class="icon"><i class="fa fa-car"></i></span>
          طلبات سيارة
        </a>
        <a href="" [routerLink]="['/director-list-cars']">
          <span class="icon"><i class="fa fa-car-crash"></i></span>
          طلبات صيانة سيارة
        </a>

        <a href="" [routerLink]="['/list-dir-ordre-pay']">
          <span class="icon"><i class="fa fa-box-open"></i></span>
          طلبات صرف من المستودع
        </a>


      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
