<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">قائمة طلبات السلف</h3>
      </header>
      <div class="form-group pull-right">
        <input type="text"
               class="search form-control"
               placeholder="ما الذي تبحث عنه ؟"
               name="search" [(ngModel)]="filter" />
      </div>
      <span class="counter pull-right"></span>
      <div class="table-responsive">
        <table class="table results text-center table-bordered theme-table">
          <thead>
            <tr>

              <th scope="col">رقم الطلب</th>
              <th scope="col">الحالة</th>
              <th scope="col">المبلغ</th>
              <th scope="col">عدد أشهر الاستقطاع</th>
              <th scope="col">الاستقطاع شهر/سنة</th>
              <th scope="col">الحالة</th>
              <th scope="col">عرض التفاصيل</th>
              <th scope="col">رفض/موافقة</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cg of factList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p }">

              <td (click)="populateForm(cg)">{{cg.id}}</td>
              <td (click)="populateForm(cg)">{{cg.etatAvance}}</td>
              <td (click)="populateForm(cg)">{{cg.prix}}</td>
              <td (click)="populateForm(cg)">{{cg.nbMoisDeduire}}</td>
              <td (click)="populateForm(cg)">{{cg.dateDeduire}}</td>
              <td (click)="populateForm(cg)"
                  [ngClass]="{

  'ok': cg.etatC === 'موافق',
  'refused': cg.etatC === 'رفض',
  'wait': cg.etatC === 'في الانتظار'
}">
                {{cg.etatC}}
              </td>
              <td (click)="populateForm(cg)">
                <a class="btn show-details-btn text-info" (click)="populateForm(cg)" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-eye fa-lg"></i>
                </a>
              </td>
              <td (click)="populateForm(cg)">
                <a class="btn btn-danger ml-3" data-toggle="modal" data-target="#myModal1">رفض</a>
                <a class="btn btn-success" data-toggle="modal" data-target="#myModal2">موافقة</a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

<div id="myModal" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">

        <div class="modal-body" style="direction:rtl; text-align:right;">
          <h2 class="text-center my-2">تفاصيل السلفة</h2>
          <div class="form-row task-form service-form text-center">


            <div class="col-md-6">

              <div>
                <label>رقم </label>
                <p>{{fact.id}}</p>
              </div>
              <div>
                <label>الموظف المسجل </label>
                <p>{{fact.userNameCreator}}</p>
              </div>
              <div>
                <label>المبلغ </label>
                <p>{{fact.prix}}</p>
              </div>
              <div>
                <label>الحالة</label>
                <p>{{fact.etatAvance}}</p>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <label>عدد أشهر الاستقطاع</label>
                <p>{{fact.nbMoisDeduire}}</p>
              </div>
              <div>
                <label>أول شهر استقطاع</label>
                <p>{{fact.dateDeduire}}</p>
              </div>
              <div>
                <label>تاريخ الاضافة </label>
                <p>{{fact.dateenreg}}</p>
              </div>
            </div>


            <div class="col-md-12">
              <div>
                <label>التفاصيل</label>
                <p>
                  {{fact.detail}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- refuse-->
<div id="myModal1" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head"> ما هو سبب الرفض ؟</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">

            <div class="col-12">
              <textarea name="refuse-reason"
                        placeholder="اكتب هنا سبب الرفض . . "
                        id="refuse-reason"
                        class="form-control"
                        cols="30"
                        rows="3" (change)="raison($event)"></textarea>
            </div>
            <div class="col-md-12 text-center">
              <input type="submit"
                     style="width: 130px;"
                     class="btn btn-info next"
                     value="حفظ" (click)="refuse()" />
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- accept-->
<div id="myModal2" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">موافقة على الطلب</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">


            <p class="text-center" style="text-align:center">هل أنت متأكد من الموافقة على الطلب  ؟</p>
     


            <div class="mx-auto my-3 text-center">
              <button class="btn btn-success px-2 ml-3" (click)="accept()"><span class="ml-2"><i class="fa fa-save"></i></span> موافق</button>
              <button class="btn btn-danger px-2 ml-3"><span class="ml-2"><i class="fa fa-times"></i></span> إلغاء</button>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
