.task-form {
  padding: 10px 0;
}


.lables {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: white;
  padding: 10px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

  .lables > div {
    background-color: white;
    border-color: dimgray;
    text-align: center;
    padding: 10px;
    /*margin: 12px;*/
    margin: 12px 0;
    border-radius: 6px;
    text-decoration: none;
    color: #202324;
    border: 1px solid #202324;
    padding: 5px 15px;
    border-radius: 8px;
    transition: 0.3s;
  }

.new-links {
  padding: 10px 0;
  border-top: 2px solid #666;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

  .new-links a {
    text-decoration: none;
    color: #276985;
    border: 1px solid #276985;
    padding: 5px 15px;
    border-radius: 8px;
    transition: 0.3s;
  }

    .new-links a:hover {
      background-color: #276985;
      color: #fff;
    }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 1000px;
  height: 20px;
}

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}



/*-- Electronic Sevices Forms --*/
.task-form input:focus:not([type="submit"]):not([type="reset"]),
.task-form select:focus {
  outline-color: #999;
}

.task-form input[type="time"] {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 50%;
}

.task-form option:hover {
  border: none !important;
}

.service-form label {
  background-color: #91c3d8;
  color: #333;
}

.service-form select {
  width: 50%;
}

.service-form input[type="submit"] {
  width: 140px;
  font-size: 18px;
}

.service-form input[type="reset"] {
  width: 140px;
  font-size: 18px;
}

/*-- leave-request-list --*/
.leave-request-list table thead {
  background-color: #91c3d8;
}



.leave-request-list .ok {
  background-color: #28a745 !important;
}

.leave-request-list .refused {
  background-color: #dc3545 !important;
}

.leave-request-list .wait {
  background-color: #fcba03 !important;
}


/*-- Start Popup --*/
.popup-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  padding: 50px;
  display: none;
  overflow-y: scroll
}

.close-popup {
  padding: 10px 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block
}

.popup-content {
  background: #fff;
  padding: 20px;
}

  .popup-content .task-form {
    padding: 10px;
  }

.page-wrapper {
  margin-top: 20px;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
}

body.noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

.buttons a,
.buttons button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  margin-bottom: 5px;
  border: 1px solid #107F98;
  background: #107F98;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s
}

  .buttons a:hover,
  .buttons button:hover {
    color: #107F98;
    background: #fff;
    border-width: 2px;
  }

.transaction-show,
.transaction-follow,
.transaction-refer,
.transaction-link,
.transaction-storage,
.transaction-save {
  display: none
}

.popup-head {
  text-align: center;
  color: #107F98;
}

  .popup-head::after {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 2px dashed #107F98;
    margin: 10px auto 0;
  }

.papers {
  list-style: none;
  display: inline-block
}

  .papers li {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #c3c8c7;
    border-radius: 6px;
  }
