<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

    <a [routerLink]="['/type-details-activite-crud']" class="p-2 flex-fill bd-highlight stop-btn">
      <span><i class="fa fa-plus"></i></span>
      تفاصيل النشاط
    </a>


  <a [routerLink]="['/activitee-list']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list-ol"></i></span>
    قائمة الأنشطة
  </a>

  <a [routerLink]="['/activitee-add']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus"></i></span>
    إضافة نشاط
  </a>

</nav>
