<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">إضافة فاتورة</h3>
      </header>
      <form class="task-form form-row" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="col-md-6">
          <label for="bill-date">تاريخ التنفيذ </label>
          <input type="date" id="bill-date" name="date" #date="ngModel" [(ngModel)]="facture.date" required />
          <div *ngIf="date.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب تاريخ التنفيذ .

          </div>
        </div>

        <div class="col-md-6">
          <label for="reg-emp">الموظف المسجل للفاتورة</label>
          <input type="text" id="reg-emp" value="{{UserNameConnected}}" disabled />
        </div>
        <div class="col-md-6">
          <label for="amount">المبلغ</label>
          <input type="number" min="0" id="amount" name="prix" #prix="ngModel" [(ngModel)]="facture.prix" required />
          <div *ngIf="prix.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب  المبلغ.

          </div>
        </div>

        <div class="col-md-6">
          <label for="the-type">الصنف</label>
          <select id="the-type" (change)="typeTest($event)">
            <option [ngValue]="undefined" selected disabled>-الصنف-</option>
            <option *ngFor="let item of typeFacture" value="{{item.id}}">{{item.nom}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="the-type">الفرع الأول</label>
          <select id="the-type" (change)="TestBO($event)">
            <option [ngValue]="undefined" selected disabled>-الفرع-</option>
            <option *ngFor="let item of brancheOne" value="{{item.id}}">{{item.nom}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="the-type">الفرع الثاني</label>
          <select id="the-type" name="branchetwo" #branchetwo="ngModel" [(ngModel)]="facture.branchetwo">
            <option [ngValue]="undefined" selected disabled>-الفرع-</option>
            <option *ngFor="let item of brancheTwo" value="{{item.nom}}">{{item.nom}}</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="payee">اسم المستفيد</label>
          <input type="text" id="payee" name="beneficiaire" #beneficiaire="ngModel" [(ngModel)]="facture.beneficiaire" />
        </div>
        <div class="col-md-6">
          <label for="">التفاصيل</label>
          <textarea class="form-control" name="detail" #detail="ngModel" [(ngModel)]="facture.detail"></textarea>
        </div>

        <div class="col-md-6">
          <label for="">إضافة سند</label>
          <ngx-dropzone (change)="upload($event);onSelect($event)" class="dropzone" #inputFile>
            <ngx-dropzone-label>اسحب الملفات هنا او اضغط للتحميل</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>

        <div class="col-md-12 text-left">
          <input type="submit"
                 style="width: 130px;"
                 class="btn btn-info next"
                 value="إضافة" />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-danger"><span><i class="fa fa-trash-restore"></i></span> حذف الحقول</button>
        </div>
      </form>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
