<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/add-pointage-emp']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user-check"></i></span>
    تسجيل الحضور و الإنصراف
  </a>

  <a [routerLink]="['/list-pointage-emp']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-list-alt"></i></span>
    قائمة الحضور و الإنصراف
  </a>


  <a [routerLink]="['/edit-pointage-emp']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-calendar-alt"></i></span>
    قائمة الحضور و الإنصراف لليوم
  </a>



</nav>
