<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <app-menu-formation></app-menu-formation>
      <header>
        <h3 class="task-head">إضافة دورة تدريبية</h3>
      </header>
      <form class="form-row task-form" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="col-md-6">
          <label for="">عنوان الدورة</label>
          <input type="text" name="titre" #titre="ngModel" [(ngModel)]="formation.titre" required />
          <div *ngIf="titre.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب عنوان الدورة .

          </div>
        </div>
        <div class="col-md-6">
          <label for="">الاختصاص</label>
          <select name="specialite" #specialite="ngModel" [(ngModel)]="formation.specialite" required>
            <option [ngValue]="undefined" selected disabled>اختر تخصص</option>
            <option *ngFor="let item of SpecList" value="{{item.nom}}">{{item.nom}}</option>
          </select>

          <div *ngIf="specialite.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
            مطلوب الاختصاص .

          </div>
        </div>
        <div class="col-md-6">
          <label for="">الجهة المقدمة</label>
          <input type="text" name="org" #org="ngModel" [(ngModel)]="formation.org" />
        </div>
        <div class="col-md-6">
          <label for="">المدة بالأيام </label>
          <input type="number" min="0" name="duree" #duree="ngModel" [(ngModel)]="formation.duree" />
        </div>
        <div class="col-md-6">
          <label for="">المدة بالساعات</label>
          <input type="number" min="0" name="datefin" #datefin="ngModel" [(ngModel)]="formation.datefin" />
        </div>
        <div class="col-md-6">
          <label for="">تاريخ البداية</label>
          <input type="date" name="datedebut" #datedebut="ngModel" [(ngModel)]="formation.datedebut" />
        </div>
        <div class="col-md-6">
          <label for=""> مكان الدورة</label>
          <input type="text" name="attribut2" #attribut2="ngModel" [(ngModel)]="formation.attribut2" />
        </div>
        <div class="col-md-6">
          <label for="">التفاصيل</label>
          <textarea class="form-control" name="detail" #detail="ngModel" [(ngModel)]="formation.detail"></textarea>
        </div>
        <div class="col-12 text-center text-md-left mt-3">
          <input class="btn btn-info"
                 style="width: 130px;"
                 type="submit"
                 value="إضافة" />
        </div>
      </form>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
