<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">كشف طلبات الاجازات</h3>
      </header>
      <div class="leave-request-list">
        <div class="table-responsive">
          <table class="table table-bordered text-center table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">نوع الاجازة</th>
                <th scope="col">المدة</th>
                <th scope="col">تاريخ بدء الاجازة</th>
                <th scope="col">تاريخ نهاية الإجازة</th>
                <th scope="col">الحالة</th>
                <th scope="col">تعديل</th>
                <th scope="col">حذف</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cg of filtredCongeList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: count, currentPage: p };let i = index">
                <th (click)="populateForm(cg)">{{(p-1) * count + i + 1}}</th>
                <td (click)="populateForm(cg)">{{cg.type}}</td>
                <td (click)="populateForm(cg)" >{{cg.duree}}</td>
                <td (click)="populateForm(cg)" >{{cg.datedebut}}</td>
                <td (click)="populateForm(cg)" >{{cg.datefin}}</td>

                <td (click)="populateForm(cg)"
                    [ngClass]="{

  'success': cg.attribut2 === 'موافق',
  'denied': cg.attribut2 === 'رفض',
  'wait': cg.attribut2 === 'في الانتظار'
}">
                  {{cg.attribut2}}
                </td>
                <td (click)="populateForm(cg)"><a class="btn btn-success" data-toggle="modal" data-target="#myModal1" *ngIf="cg.attribut2 === 'في الانتظار'"><i class="fa fa-edit"></i> تعديل </a></td>
                <td (click)="populateForm(cg)"><a (click)="populateForm(cg);onDelete(cg.id)" class="btn btn-danger" *ngIf="cg.attribut2 === 'في الانتظار'"><i class="fa fa-trash"></i>حذف</a></td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                 nextLabel="التالي"></pagination-controls>
          </ul>
        </nav>

      </div>
    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>


<div id="myModal1" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">تعديل طلب الإجازة</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">
            <form class="form-row task-form service-form" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

              <div class="col-md-6">
                <label for="leave-type">نوع الاجازة</label>
                <select id="leave-type" name="type" #type="ngModel" [(ngModel)]="congeService.formData.type" required>
                  <option [ngValue]="undefined" selected disabled>-اختر-</option>
                  <option value="عادية">عادية </option>
                </select>
              </div>
              <div *ngIf="type.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
                مطلوب نوع الاجازة.

              </div>
              <div class="col-md-6">
              </div>

              <div class="col-md-6">
                <label for="leave-date-start">تاريخ بداية الاجازة</label>
                <input type="date" id="leave-date-start" name="datedebut" #datedebut="ngModel" [(ngModel)]="congeService.formData.datedebut" (change)="tdatedebut($event)" required>
              </div>

              <div *ngIf="datedebut.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">


                مطلوب تاريخ بداية الاجازة.

              </div>

              <div class="col-md-6">
                <label for="leave-date-end">تاريخ نهاية الاجازة</label>
                <input type="date" id="leave-date-end" name="datefin" #datefin="ngModel" [(ngModel)]="congeService.formData.datefin" (change)="tdatefin($event)" required>
              </div>
              <input type="text" name="nomremplacant" #nomremplacant="ngModel" [(ngModel)]="congeService.formData.nomremplacant" hidden />
              <div *ngIf="datefin.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">


                مطلوب تاريخ نهاية الاجازة.

              </div>

              <div class="col-md-6">
                <label for="time">مدة الإجازة</label>
                <input type="number" min="0" name="duree" #duree="ngModel" [(ngModel)]="congeService.formData.duree" id="time" />
              </div>


              <div class="col-sm-6">
                <label for="replace-emp">الموظف المعوض</label>
                <select id="stop-status" name="idremplacant" #idremplacant="ngModel" [(ngModel)]="congeService.formData.idremplacant" (change)="getRemplacant($event)">
                  <option [ngValue]="undefined" selected disabled>-الموظف المعوض-</option>
                  <option *ngFor="let item of user" value="{{item.id}}">{{item.fullName}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="emp-mobile">سبب الإجازة</label>
                <input type="text" id="emp-mobile" name="tel" #tel="ngModel" [(ngModel)]="congeService.formData.tel">
              </div>

              <input type="text" id="emp-address" name="etat" #etat="ngModel" [(ngModel)]="congeService.formData.etat" hidden />
              <div class="col-12 text-left">
                <input class="btn btn-primary px-4" type="submit" value="تقديم">
              </div>
            </form>

          </div>
      </div>
    </div>

  </div>
</div>
  </div>
