<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <!-- <app-menu-stockage-settings></app-menu-stockage-settings>-->
      <header>
        <h3 class="task-head">   قائمة أوامر الصرف</h3>
      </header>

      <div class="table-responsive">
        <table class="table table-bordered theme-table text-center">
          <thead>
            <tr>
              <th scope="col" (click)="new()">	الاوامر الجديدة </th>
              <th scope="col" (click)="accepted()">	الاوامر المعتمدة  </th>
              <th scope="col" (click)="closed()"> الاوامر المغلقة </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-primary">{{nb1}}</td>
              <td class="table-active">{{nb3}}</td>
              <td class="table-success">{{nb2}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="pro-list">
        <div class="form-group pull-right">
          <input type="text"
                 class="search form-control"
                 placeholder="ما الذي تبحث عنه ؟" [(ngModel)]="filter" />
        </div>
        <span class="counter pull-right"></span>
        <div class="tabel-cont table-responsive">
          <table class="table table-striped theme-table table-bordered results">
            <thead class="">
              <tr>
                <th scope="col">	رقم الصرف </th>
                <th scope="col">	الامر </th>
                <th scope="col">تاريخ الانتهاء</th>
                <th scope="col">طريقة الصرف </th>
                <th scope="col">تعديل</th>
                <th scope="col">حذف</th>
              </tr>
            </thead>
            <tbody *ngIf="first">
              <tr *ngFor="let ev of ListStockage |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <th scope="row" [routerLink]="['/details-ordre-pay', ev.id]">{{ev.id}}</th>

                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.nomOrdre}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.dateFin}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.typePay}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]"></td>
                <td><a (click)="onDelete(ev.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
            <tbody *ngIf="acceptedT">
              <tr *ngFor="let ev of ListStockageAccepted |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <th scope="row" [routerLink]="['/details-ordre-pay', ev.id]">{{ev.id}}</th>

                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.nomOrdre}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.dateFin}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.typePay}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]"></td>
                <td><a (click)="onDelete(ev.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>

            <tbody *ngIf="newT">
              <tr *ngFor="let ev of ListStockageNew |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <th scope="row" [routerLink]="['/details-ordre-pay', ev.id]">{{ev.id}}</th>

                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.nomOrdre}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.dateFin}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.typePay}}</td>
                <td><a class="btn btn-success" [routerLink]="['/edit-ordre-pay', ev.id]"><i class="fa fa-edit"></i></a></td>
                <td><a (click)="onDelete(ev.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>

            <tbody *ngIf="closed">
              <tr *ngFor="let ev of ListStockageClosed |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <th scope="row" [routerLink]="['/details-ordre-pay', ev.id]">{{ev.id}}</th>

                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.nomOrdre}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.dateFin}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]">{{ev.typePay}}</td>
                <td [routerLink]="['/details-ordre-pay', ev.id]"></td>
                <td><a (click)="onDelete(ev.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                   nextLabel="التالي"></pagination-controls>
            </ul>
          </nav>
        </div>


      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
