<!--<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/filesorg-add']" href="" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-file-archive"></i></span>
    إضافة وثائق جهة
  </a>
  <a [routerLink]="['/filesorg-lis']" href="" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-list"></i></span>
    قائمة وثائق جهة
  </a>

</nav>
  -->
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">خدماتي</h3>
      </header>
      <div class="row que-serv">

        <div class="que-serv">
          <a href="" [routerLink]="['/dem-conge-menu']">
            <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
            طلب إجازة
          </a>
          <a href="" [routerLink]="['/permission-add']">
            <span class="icon"><i class="fa fa-walking"></i></span>
            طلب إذن
          </a>
          <a href="" [routerLink]="['/recrutement-add']">
            <span class="icon"><i class="fa fa-user-friends"></i></span>
            طلب انتداب
          </a>
          <a href="" [routerLink]="['/equipement-add']">
            <span class="icon"><i class="fa fa-toolbox"></i></span>
            طلب عهدة
          </a>
          <a href="" [routerLink]="['/salaiale-add']">
            <span class="icon">
              <i class="fa fa-file-invoice-dollar"></i>
            </span>
            طلب مشهد براتب
          </a>
          <a href="" [routerLink]="['/residence-add']">
            <span class="icon"><i class="fa fa-home"></i></span>
            طلب تجديد إقامة
          </a>
          <a href="" [routerLink]="['/pay-chequec-add']">
            <span class="icon"><i class="fa fa-hand-holding-usd"></i></span>
            طلب صرف شيك
          </a>
          <a href="" [routerLink]="['/cre-finan-add']">
            <span class="icon"><i class="fa fa-funnel-dollar"></i></span>
            طلب المستحقات المالية
          </a>

          <a href="" [routerLink]="['/demande-formation-user-add']">
            <span class="icon"><i class="fa fa-graduation-cap"></i></span>
            دورة تدريبية
          </a>


          <a href="" [routerLink]="['/demission-add']">
            <span class="icon"><i class="fa fa-times-circle"></i></span>
            طلب إستقالة
          </a>

          <a href="" [routerLink]="['/plaint-add']">
            <span class="icon"><i class="fa fa-user-times"></i></span>
            شكوى
          </a>


          <a href="" [routerLink]="['/ticke-employee-add']">
            <span class="icon"><i class="fa fa-user-tag"></i></span>

            طلب بطاقة موظف
          </a>

          <a href="" [routerLink]="['/avance-add']">
            <span class="icon"><i class="fa fa-hand-holding-usd"></i></span>
            طلب سلفة
          </a>

          <a href="" [routerLink]="['/maitenance-request-add']">

            <span class="icon"><i class="fa fa-cog"></i></span>
            طلب صيانة/دعم فني
          </a>

          <a href="" [routerLink]="['/demande-supp-heure-add']">
            <span class="icon"><i class="fa fa-clock"></i></span>
            طلب ساعات إضافية
          </a>

          <a href="" [routerLink]="['/creation-add']">
            <span class="icon"><i class="fa fa-briefcase"></i></span>
            طلب استحداث وظيفة
          </a>

          <a href="" [routerLink]="['/attestation-travail-add']">
            <span class="icon"><i class="fa fa-file-word"></i></span>
            طلب شهادة عمل
          </a>

          <a href="" [routerLink]="['/dem-assistance-add']">
            <span class="icon"><i class="fa fa-address-book"></i></span>
            طلب  مباشرة عمل
          </a>
          <a href="" [routerLink]="['/change-rib-add']">
            <span class="icon"><i class="fa fa-money-check"></i></span>
            طلب تعديل حساب بنكي
          </a>

    

        </div>

      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>

