:root {
    --color1: #F03288;
    --color2: #276985;
    --color3: #46CDFF;
    --color4: #C85E44;
    --color5: #CACACA;
    --color6: #4C5157;
    --color7: #ed685e;
    --color8: #8582ed;
    --color9: #ed6ce2;
    --color10: #8bc34a;
    --color11: #5cbced;
    --color10: #efefef;
    --color10: #f087b7;
    --color10: #FEC109;
}

/*---Main Roles---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Raleway
}

footer {
    background: #276985;
    color: #fff;
    padding: 8px 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/************* Login Page ***************
*****************************************/

/******* Top Navbar *******/
nav {
    direction: rtl
}

nav.log-nav {
    background: #276985;
    padding: 10px 0;
    min-height: 60px;
}

a.main-btn {
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
}

nav.log-nav .log-btns {
    float: left;
    display: inline-block;
}

nav.log-nav .log-btns a {
    color: #fff;
    background: #F03288;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

nav.log-nav .log-btns a span {
    margin-left: 10px
}

.signup-btn {
    margin-left: 10px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
    background: #f087b7;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background: #f087b7;
    border-radius: 5px;
}

.navbar-toggler-icon {
    color: #fff !important
}



/****** Login Form ******/
.login-form {
    margin: 80px auto;
    width: 50%;
    max-width: 1000px;
    border: 1px solid #333;
    border-radius: 11px;
    background: rgba(0, 0, 0, 0.7)
}

.login-form h4 {
    color: #fff;
    background: #276985;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
}

.login-form .logo {
    width: 15%;
    margin: 20px auto;
}

.login-form .logo img {
    width: 100%;
    border-radius: 15px;
}

.login-form .form-control {
    width: 80%;
    margin: 0;
}

.login-form .form-group {
    width: 60%;
    margin: 10px auto;
    display: block;
    direction: rtl;
    text-align: center;
}

@media (max-width:768px) {
    .login-form .form-group {
        width: 90%
    }
}

.login-form .form-group label {
    display: inline-block;
    padding: 8px 10px;
    background: #E8ECEF;
    border-radius: 0 5px 5px 0;
    margin: 0;
}

.form-footer {
    padding: 15px 0;
    background: #CACACA;
    border-radius: 0 0 10px 10px;
    font-size: 14px
}

@media (max-width:575px) {
    .login-form {
        width: 90%;
    }
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin: 0;
}

.remember {
    text-align: right;
    display: inline;
    color: #fff;
    font-size: 18px;
}

button.enter {
    display: block;
    padding: 8px 15px;
    margin: 0 auto 30px;
    width: 40%;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #61bb0b;
    font-weight: bold;
    font-size: 18px;

}

/****** Home Page ******/
.main-content {
  background: #fff;
  padding: 50px 0;
  direction: rtl
}

.link-box {
  background: #fff;
}

.main-content a {
  text-decoration: none;
  padding: 0;
  display: block;
  border: 1px solid #108199;
  border-radius: 10px;
}

  .main-content a span {
    padding: 15px 0;
    background: #108199;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }

  .main-content a h4 {
    color: #108199;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
  }

  .main-content a:hover {
    box-shadow: 0 0 10px #333;
  }

/******************************
####### Tasks Main Page #######
*******************************/
.tasks-nav {
    background: #333;
    direction: rtl
}

.tasks-nav a {
    text-align: center;
    text-decoration: none;
    background: #fff;
    border: 1px solid #108199;
    color: #108199;
}

.tasks-nav a:hover,
.tasks-nav a.active {
    background: #108199;
    color: #fff
}

.page-content {
    padding: 20px
}

.nav-2 {
    text-align: right;
    margin-bottom: 40px;
}

.page-content .nav-2 .item {
    background: #fff;
    border: 1px solid #108199;
    padding: 10px 5px
}

.page-content .nav-2 .item .sympol {
    width: 15%;
    height: 100%;
    float: right;
    margin-left: 10px;
    font-size: 30px;
    color: #7f8fa6
}

.page-content .nav-2 .item .text {
    width: 85%;
    font-size: 14px
}

.page-content .nav-2 .item .text span {
    font-size: 20px
}

.page-content .nav-3 {}

.page-content .nav-3 .box {
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 15px
}

.page-content .nav-3 .box ul {
    list-style: none;
}

.page-content .nav-3 .box ul li {
    display: inline-block;
    padding: 5px 10px;
    border-left: 1px solid #7f8fa6;
}

.page-content .nav-3 .box ul li:last-child {
    border-left: none
}

.page-content .nav-3 .box ul li p {
    color: #7f8fa6;
}

.page-content .charts {
    margin-top: 30px;
    margin-bottom: 30px
}

.page-content .chart {
    background: #fff;
}

/****** Alerts Page ******/
.main-nav {
    background: #276985 !important;
}

.main-nav .navbar-nav {
    direction: rtl;
    text-align: right;
}

.main-nav .navbar-nav .nav-item {
    margin-left: 20px;
    font-size: 18px;

}

.main-nav .navbar-nav .nav-item a {
    color: #fff;

}

.main-nav .user-btn {
    background: #f087b7;
    color: #fff;
}

.nav-link {
    display: block;
    padding: .3rem 1rem;
}

.alert-btn,
.alert-btn:hover,
.msg-btn,
.msg-btn:hover {
    color: #fff
}

.navbar-brand img {
  width: 60px;
  margin-left: 20px;
  border-radius: 50%
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
}

.user-img:hover {
    text-decoration: none;
    color: #fff;
}

.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dropdown-menu {
    text-align: right
}

.stars .star {
    color: #FFE21C;
}

/*-------- content --------*/
.content {
    direction: rtl;
    text-align: right;
    padding: 0 15px
}

.content .side-menu {
    width: 100%;
    background: #344760;
    color: #fff;
    padding: 20px 15px;
    height: 100%;
    min-height: 83.55vh
}



#details-lab {
    padding: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin-top: 5px
}

#details,
#details-lab {
    display: none
}

@media(max-width:575px) {
    .content .side-menu {
        display: none
    }

    #details-lab {
        display: block
    }
}

#details:checked ~ .side-menu {
    display: block
}

.content .boxes {
    padding: 25px;
}

.content .box {
    margin-bottom: 30px;
    background: #efefef;
    min-height: 220px;

}

.content .box h4 {
    text-align: center;
    padding: 5px 0;
    color: #fff;
}

.content .box .num {
    font-size: 30px;
    font-weight: bold
}

.content .box .show {
    color: #5cbced;
    font-weight: bold
}

.content .box.tasks .num,
.content .box.tasks .sympol {
    color: #ed685e
}

.content .box.tasks h4 {
    background: #ed685e;
}

.content .box.decisions .num,
.content .box.decisions .sympol {
    color: #8bc34a
}

.content .box.decisions h4 {
    background: #8bc34a;
}

.content .box.rings .num,
.content .box.rings .sympol {
    color: #8582ed
}

.content .box.rings h4 {
    background: #8582ed;
}

.content .box.orders .num,
.content .box.orders .sympol {
    color: #ed6ce2
}

.content .box.orders h4 {
    background: #ed6ce2;
}

/****** Mailing Page ******/
.content .box .sympol {
    display: inline-block
}

.content .box.mails h4 {
    background: #FEC109;
}

.content .box.mails .sympol {
    color: #FEC109;
}

.content .box.inbox h4 {
    background: #8bc34a;
}

.content .box.inbox .sympol {
    color: #8bc34a;
}

.content .box.outgoing h4 {
    background: #5cbced;
}

.content .box.outgoing .sympol {
    color: #5cbced;
}

.content .box.forms h4 {
    background: #FE5822;
}

.content .box.forms .sympol {
    color: #FE5822;
}

.content .box ul {
    margin: 0;
    padding: 0 15px 0 0;
    list-style: none
}

.content .box ul li {
    margin-bottom: 10px;
    padding: 0;
    text-align: right;
    font-size: 14px;
}


/********* According Menus **********/
.side-menu h5 {
    cursor: pointer;
    padding: 15px 10px;
}

.side-menu h5 .arrow {
    float: left
}

.side-menu div {
    padding: 0 10px;
}

.side-menu div a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #fff;
    background: #276985;
    margin-bottom: 5px;
    text-align: center
}

/********* Task Form ********/
.task-form {
    padding: 40px 10px;
}

.task-form .col-sm-6,
.task-form .col-12,
.task-form .col-sm-4,
.task-form .col-sm-8 {
    margin-bottom: 20px;
}

.task-form label,
.task-details .label {
    background: #C3C8C7;
    padding: 8px 10px;
    border-radius: 10px;
    color: #107F98;
    margin-left: 10px
}

.task-details label {
    font-size: 18px
}

.task-form label span {
    margin-left: 8px
}

.task-num {
    color: #ed685e;
    font-weight: bold;
    font-size: 18px;
}

#task,
#task-details {
    width: 60%;
}

.task-form input[type='text'] {
    width: 50%;
    border-radius: 10px
}

.task-form input[type='date'] {
    padding: 8px 0;
    border-radius: 10px;
    border: 1px solid #EAEADD;
}

.task-form select {
    padding: 6px 5px;
    border-radius: 10px;
}

.files-label {
    padding: 5px;
    cursor: pointer;
    display: block;
    text-align: right;
    background: #e4e8e8 !important;
    border-radius: 0 !important;
}

.files-label .upload-symbol {
    margin: auto 15px;
    opacity: 0.5
}

.files-label p {
    font-size: 22px;
    margin-bottom: 10px;
}

.files-label:hover {
    background: #C3C8C7 !important;
}

.files-label:hover .upload-symbol {
    opacity: 1
}

.task-form input[type='file'] {
    display: none
}

.save {
    margin: auto;
}

.save button {
    margin-left: 20px;
    padding: 8px 20px
}

.save a {
    text-decoration: none;
    color: #107F98;
}

/************* Tasks list Page ***************/
.tasks-header {
    color: #fff;
    background: #07618a;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
}

.tabel-cont {
    padding: 10px 0 20px 20px;
}

@media (max-width:500px) {
    .tabel-cont {
        padding: 10px 0;
    }
}

table tbody td .task-st {
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    color: #fff
}

table tbody td .task-st.in-work {
    background: #007bff
}

table tbody td .task-st.done {
    background: #28a745
}

table tbody td .task-st.not-done {
    background: #dc3545
}

/*********** Task Details Page ************/
header {
    padding: 10px 0;
}

.task-head {
    color: #107F98;
    text-align: center;
    padding: 8px 30px;
    border-top: 2px solid #107F98;
    border-bottom: 2px solid #107F98;
    border-radius: 30px 30px 0 0;
    display: block;
    margin: 30px auto 20px
}

.num-task {
    color: #107F98;
    font-weight: bold
}

.task-details {
    padding: 30px 10px;
}

.task-details .row div {
    margin-bottom: 20px;
}

#chart3 {
    max-width: 500px;
    max-height: 500px;
    margin: auto
}

.completed {
    border: 2px solid #080;
    color: #080;
    font-weight: bold;
    padding: 10px;
    margin-right: 30px
}

.prog {
    width: 75px;
    height: 75px;
    border: 1px solid #666;
    text-align: center;
    border-radius: 50%;
    padding: 2px;
}

.prog div {
    border: 8px solid #666;
    border-radius: 50%;
    line-height: 52px;
    color: #276885;
    font-weight: bold;
}

.file-links {
    width: 60%;
    float: left;
}

.file-links a {
    text-decoration: none;
    color: #333;
    margin-left: 15px
}

.complete-btn {
    text-decoration: none;
    color: #fff;
    background: #0df;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 15px
}

.task-info {
    margin-bottom: 30px
}

.task-info > div {
    background: #fff;
    border: 1px solid #999;
    padding: 10px 0;
}

.task-info > div:nth-child(odd) {
    background: #f5f6fa;
}

.task-info > div:nth-child(even) {
    background: #e9ebf1;
}

.task-info > div:first-child {
    border-radius: 0 15px 15px 0;
}

.task-info > div:last-child {
    border-radius: 15px 0 0 15px;
}

.task-info > div ul li {
    display: inline-block;
    text-align: center;
}

.task-info > div .item-logo {
    height: 100%;
    padding: 10px
}

.task-info > div .item-text {}

table .show-details {
    background: #058;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer
}

.task-details-box {
    text-align: right;
    padding: 15px 10px;
    background: #F2F2F2;
    border: 1px solid #999
}

.task-details-box .head {
    color: #222;
    padding: 8px 0;
    text-align: center;
    background: #8ab9d0
}

.task-details-box ul {
    list-style: none
}

.task-details-box ul li {
    border-bottom: 1px solid #999
}

.task-details-box ul li .date {
    color: #999;
    margin-right: 10px
}

.task-details-box a {
    text-decoration: none;
    color: #f00;
}

.comment {
    padding: 5px;
    background: #d1d1d1;
    margin-right: 40px;
    border-radius: 5px;
}

.comment-form {
    width: 90%;
    margin: auto;
}

.comment-form input[type='text'] {
    width: 80%
}

/*****************************
  ##### User Info Page #####
******************************/
.info-content {
    padding: 50px 0;
}

.user-info-box {}

.user-info-box header {
    background: #108199;
    margin-bottom: 20px
}

.check-in-out {
    background: #fff
}

.user-info-box header img {
    width: 150px
}

.user-info-box header a {
    text-decoration: none;
    color: #108199;
}

.user-info-box header a .camera {
    font-size: 30px;
    z-index: 10;
    position: absolute;
    top: 130px;
    right: 90px
}

.user-info-box {
    background: #fff;
    padding: 15px
}

.header-info {
    color: #fff;
    font-weight: bold;
}

.user-info-box .nav-pills .nav-item {
    background: #108199;
    border-left: 1px solid #fff;
    text-align: center
}

.user-info-box .nav-pills .nav-item .nav-link.active {
    background: #115b6b
}

.user-info-box .nav-pills .nav-item .nav-link.active:after {
    content: "";
    display: block;
    border: 7px solid #fff;
    width: 0;
    position: relative;
    bottom: -5px;
    right: 45%;
    z-index: 10;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent
}

.user-info-box .nav-pills .nav-item a {
    color: #fff;
    height: 100%;
    padding-top: 10px;
}

.data-title {
    color: #108199;
}

.user-info-box .check-in-out a {
    color: #fff
}

.vote {
    background: #fff;
    padding: 10px 15px 20px;
}

/*----------------------------------
---------- User Register ----------
-----------------------------------*/

.tabs .nav {}

.tabs .nav li a {
    color: #fff;
    padding: 8px 10px;
    background: #33a1ce;
    text-decoration: none
}

.tabs .nav li a.active,
.tabs .nav li a:hover {
    background: #276985;
    color: #fff
}

.tabs section {

    direction: rtl;
}

.tabs .reg form {
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
    text-align: center;
}

.tabs .reg form .form-group label {
    display: inline-block;
    padding: 9px 0px;
    text-align: center;
    background: #91c3d8;
    width: 40px;
    border-radius: 0 5px 5px 0;
}
.tabs .reg form .form-group select,
.tabs .reg form .form-group input {
    width: 80%;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    border: 1px solid #91c3d8;
}

@media (min-width:767px) {
    .tabs form {
        margin: auto
    }

    .tabs .reg form .form-group {
        width: 45%;
        float: right
    }

}

.tabs .reg form .form-group input[type='submit'] {
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
}

@media (max-width:500px) {
    .reg form .form-group input[type='submit'] {
        width: 100%
    }
}

.terms-form {
    padding: 20px 0;
    margin-top: 5px
}

.terms-form label {
    font-size: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.terms-form label::before {
    content: "";
    position: relative;
    width: 22px;
    height: 22px;
    background: #91c3d8;
    display: inline-block;
    left: 10px;
    top: 2px;
}

.terms-form input[type='checkbox'] {
    display: none;
}

.terms-form input[type='checkbox']:checked + label::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f14a";
    display: inline-block;
    background: transparent;
    color: #0697d4;

}

.tabs .terms-form .form-group input[type='submit'] {
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    background: #276985;
    color: #fff
}

/*--------------------------------
----------- Users Page -----------
---------------------------------*/
.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

/*---------------------------------
------ Task-report-data Page ------
---------------------------------*/
.report-page {
    padding: 50px 0;
}

.report-page h1 {

    margin-bottom: 40px
}

.report-page h1:after {
    content: "";
    width: 120px;
    height: 2px;
    background: #000;
    position: relative;
    display: block;
    margin: auto;
    top: 10px
}

.report-page p {
    color: #333
}

.report-page p span {
    font-weight: bold;
    color: #000;
}

/*----------------------------------
---------- Forbidden page ----------
-----------------------------------*/
.forbidden {
    font-family: 'Oxanium', cursive;

}

.forbidden h2 {
    font-size: 35px
}

.forbidden .text {
    font-size: 28px;
}

.forbidden > p {
    font-size: 150px;
    padding: 0;
    margin: 0;
}

.forbidden > p span {
    color: #fd0f31;
}

.forbidden .stop {
    background: #fff;
    width: 350px;
    height: 350px;
    border: 5px solid #d1d1d2;
    border-radius: 30%;
    color: #fd0f31;
    padding-top: 4%;
    margin: 20px auto 0;
}

.forbidden .stop h1 {
    font-size: 3.5rem;
}

.forbidden .stop span.icon {
    font-size: 170px;
    display: block
}
