body {
  background: #f5f5f5;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #4c5667;
  overflow-x: hidden !important;
}

.wrapper-page {
  margin: 7.5% auto;
  width: 360px;
}

  .wrapper-page .form-control-feedback {
    left: 15px;
    top: 3px;
    color: rgba(76, 86, 103, 0.4);
    font-size: 20px;
  }

.logo {
  color: #3bafda !important;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .02em;
  line-height: 70px;
}

.logo-lg {
  font-size: 28px !important;
}

.logo i {
  color: #f76397;
}

.user-thumb img {
  height: 88px;
  margin: 0px auto;
  width: 88px;
}
