<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper-page bootstrap snippets bootdeys">
  <div class="text-center">
    <a class="logo logo-lg">
      <i class="fa fa-user-cog"></i>
      <span>Support technique</span>

    </a>
  </div>
  <form class="text-center m-t-20">
    <div class="user-thumb">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-circle img-thumbnail" alt="thumbnail">
    </div>
    <div class="form-group">
      <h3> Service Agent</h3>
      <p class="text-muted">Enter your code to access the Tickets List .</p>
      <div class="input-group m-t-30">
        <input type="password" class="form-control" placeholder="Code" (change)="getdata($event)">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-email btn-info waves-effect waves-light" (click)="entrer()">
            Access
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
