<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a [routerLink]="['/comptes-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa fa-list"></i></span>
    حالة الحسابات
  </a>

  <a [routerLink]="['/etat-comptes-add']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-edit"></i></span>
    تحديث الحسابات
  </a>

  <a [routerLink]="['/service-banque-add']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-building"></i></span>
    خدمات البنك
  </a>


</nav>
