
<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
  <a class="navbar-brand" href="#"><img src="assets/images/logo000.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">الرئيسية <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/filesorg-menu']">خدماتي</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/main-services-page']">استعلاماتي</a>
      </li>

      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/tasks-list-received']"> مهامي</a>
      </li>

      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/mailing']"> الإتصالات الإداریة</a>
      </li>

      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/decision-list']">	التعاميم والقرارات </a>
      </li>

      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/ticket2-my-list']">الدعم الفني</a>
      </li>
      <!--
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/news-list-viewer']">المركز الإعلامي</a>
  </li>
    -->
      <!--
      <li class="nav-item">
        <a class="nav-link" *ngIf="!testrole" [routerLink]="['/mailing']">الإتصالات الإدارية</a>
        <a class="nav-link" *ngIf="testrole" [routerLink]="['/menutr']">الإتصالات الإدارية</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" [routerLink]="['/event-list']">إدارة الفعاليات</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/liste-dotation']"> إدارة العقارات</a>
      </li>
      <li class="nav-item">
    <a class="nav-link" [routerLink]="['/users-list']">الموظفين</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/main-finance-page']">المالية</a>
  </li>
  -->
    </ul>
    <div class="my-2 my-lg-0" *ngIf="userDetails">


      <a *ngIf="testroledir" [routerLink]="['/alerts']" class="ml-2 alert-btn notification"><span class="badge" *ngIf="nbd!=0">{{nbd}}</span><i class="fa fa-bell fa-lg"></i></a>      
    
      <!--<a class="ml-2 alert-btn notification nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="badge" *ngIf="pointer">?</span><i class="fa fa-user-circle fa-lg"></i></a>
  <div class="dropdown-menu">

    <a class="dropdown-item" [routerLink]="['/pointage-presence-add']" *ngIf="pointer">تسجيل حضور</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/pointage-quitter-add']">تسجيل إنصراف </a>

  </div>-->
      <button class="btn  user-btn my-2 my-sm-0 mx-3"> مرحبا {{userDetails.fullName}}</button>
    </div>
    <div class="dropdown d-inline-block">
      <a href="#" class="user-img dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!---<img  src="/uploads/{{userDetails.photo}}" alt="user-image">-->
        <img src="assets/images/avatar.png" alt="user-image">
        <!---<img src="assets/images/logowomen.jpg" alt="user-image" *ngIf="sexe == 'أنثى'">-->
      </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <a class="dropdown-item" [routerLink]="['/user-info']">بيانات الموظف</a>
    <!-- <a class="dropdown-item" [routerLink]="['/user-change-pasword']">تغيير كلمة  المرور</a>-->
        <a class="dropdown-item" (click)="onLogout()" href="">خروج</a>
</div>
    </div>
  </div>
</nav>
