<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">

      <header>
        <h3 class="task-head"> قائمة الحضور و الإنصراف</h3>
      </header>
      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="بحث">
      <div class="events1">

        <div class="row w-100 d-flex form-box">
          <div class="col-md-12 col-sm-12">

            <label class="main">

            </label>
            <div class="d-flex w-100 justify-content-start flex-wrap">
              <div class="table-responsive new-table2">
                <table class="table table-bordered text-center table-striped">
                  <thead class="thead-gestimary">
                    <tr>
                      <th scope="col">	# </th>
                      <th scope="col">	التاريخ </th>
                      <th scope="col">وقت الحضور</th>
                      <th scope="col"> وقت الإنصراف </th>
                      <th scope="col">ماك أدريس  </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let point of pointList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                      <th scope="row">{{(p-1) * count + i + 1}}</th>
                      <td>{{point.datePresence}}</td>
                      <td>{{point.timePresence}}</td>
                      <td>{{point.timeQuitter}}</td>
                      <td>
                        {{point.adresseMac}}
                        <i style="color:green;" *ngIf="point.attribut1 == 1" class="fa fa-check-circle"> </i>
                        <i style="color:red;" *ngIf="point.attribut1 == 0" class="fa fa-times-circle"> </i>
                      </td>

                    </tr>
                  </tbody>



                </table>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                       nextLabel="التالي"></pagination-controls>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
