<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
        <a href="" [routerLink]="['/transactions-rlist']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-home"></i></span>
          الرئيسية
        </a>
        <a href="" [routerLink]="['/enreg-r']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-save"></i></span>
          قائمة المعاملات الواردة المسجلة
        </a>
        <!-- <a href="" [routerLink]="['/afftected-to-my-admin-r']" class="p-2 flex-fill bd-highlight">
     <span><i class="fa fa-building"></i></span>
     قائمة المعاملات الواردة لإدارتي
   </a>-->
        <a href="" [routerLink]="['/enreg-temp-r']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-clock"></i></span>
          قائمة المعاملات المحفوظة مؤقتا
        </a>
        <a href="" [routerLink]="['/enreg-def-r']" class="p-2 flex-fill bd-highlight box-menu-btn">
          <span><i class="fa fa-box"></i></span>
          قائمة المعاملات المحفوظة نهائيا
        </a>
      </nav>
      <!-- Tasks Page Content -->
      <section class="page-content">
        <h4 class="my-2 task-head">       قائمة المعاملات المحفوظة نهائيا</h4>
        <nav class="d-flex mt-2 transaction-nav saved-nav">
          <ul>
            <li class="show-btn">
              <a href="" data-toggle="modal" data-target="#myModal1">
                <span><i class="fa fa-eye"></i></span>
                عرض
              </a>
            </li>
            <li class="follow-btn">
              <a href="" data-toggle="modal" data-target="#myModal2">
                <span><i class="fa fa-undo"></i></span>
                إسترجاع
              </a>
            </li>
            <li class="undo-btn">
              <a (click)="onDeleteTr()">
                <span><i class="fa fa-trash"></i></span>
                حذف
              </a>
            </li>
          </ul>
        </nav>
        <!-- Transaction1 Page Content -->
        <section class="page-content text-right">

          <div class="form-group pull-right">

            <input class="search form-control" type="text" name="search" [(ngModel)]="filter" placeholder="ما الذي تبحث عنه ؟">
          </div>
          <span class="counter pull-right"></span>
          <div class="tabel-cont table-responsive">
            <table class="table table-striped results table-bordered sortable" id="myTable">
              <thead>
                <tr>

                  <th scope="col">#</th>
                  <th scope="col">رقم المعاملة</th>
                  <th scope="col">نوع المعاملة</th>
                  <th scope="col">تاريخ التسجيل</th>
          
                  <th scope="col">الأولوية</th>
                  <th scope="col">درجة السرية</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tr of FiltredList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p }">

                  <td (click)="populateForm(tr)"><input type="radio" name="modelGroup" value="modelGroup"></td>
                  <td (click)="populateForm(tr)">{{tr.id}}</td>
                  <td (click)="populateForm(tr)">وارد من {{tr.typeRecue}}</td>
                  <td (click)="populateForm(tr)">{{tr.date}}</td>
                
                  <td (click)="populateForm(tr)">{{tr.priorite}}</td>
                  <td (click)="populateForm(tr)">{{tr.securite}}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                                 nextLabel="التالي"></pagination-controls>
            </ul>
          </nav>
        </section>
      </section>
    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>


<!-- show -->
<div id="myModal1" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">معاملة واردة</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">
            <div class="col-md-6 mb-3">
              <label>الرقم الموحد</label>
              <span>{{tr.id}}</span>
            </div>
            <div class="col-md-6 mb-3">
              <label>موظف تسجيل المعاملة</label>
              <span>{{tr.userNameCreator}}</span>
            </div>

            <div class="col-md-6 mb-3">
              <label>تاريخ المعاملة</label>
              <span>{{tr.date}}</span>
            </div>
            <div class="col-md-6 mb-3">
              <label>الموضوع</label>
              <span>{{tr.sujet}}</span>
            </div>
            <div class="col-md-6 mb-3" *ngIf="org">
              <label>من الجهة</label>
              <span>{{OrgName}}</span>
            </div>
            <div class="col-md-6 mb-3" *ngIf="partic">
              <label>صاحب المعاملة</label>
              <span>{{PropName}}</span>
            </div>
            <div class="col-md-6 mb-3">
              <label>السجل المدني</label>
              <span>{{tr.registreCivil}}</span>
            </div>
            <div class="col-md-6 mb-3" *ngIf="org">
              <label>رقم صادر الجهة</label>
              <span>{{tr.numAutorite}}</span>
            </div>
            <div class="col-md-6 mb-3">
              <label>رقم الجوال</label>
              <span>{{tr.tel}}</span>
            </div>
            <div class="col-md-6 mb-3">
              <label>عدد المرفقات الورقية</label>
              <span>{{tr.nbPjNumerique}}</span>
            </div>
            <div class="col-12 mb-3">
              <label>قائمة المرفقات</label>
              <ul class="papers" *ngFor="let pd of listPjFiltred;">
                <li>
                  <a (click)="download(pd.path)"><i class="fa fa-download  fa-2x"></i></a>
                  {{pd.path}}
                </li>

              </ul>
            </div>
            <div class="col-sm-12 text-center buttons">
              <a (click)="PDFTr()">طباعة المعاملة</a>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!--Impression Tr-->
<div class="tr-print" id="htmlData" style="display: none;">
  <header class="printed-header">
    <div></div>
    <h2>وارد عام</h2>
    <span class="date">التاريخ {{date}}</span>
  </header>
  <main class="text-right">
    <div class="row">
      <div class="col-6">
        <p>
          <span class="label">الرقم الموحد </span>
          <span class="data">
            {{tr.id}}
          </span>
        </p>
        <p>
          <span class="label">موظف تسجيل المعاملة </span>
          <span class="data">
            {{tr.userNameCreator}}
          </span>
        </p>




        <p *ngIf="org">
          <span class="label">وارد من </span>
          <span class="data">
            {{OrgName}}
          </span>
        </p>

      </div>
      <div class="col-6">

        <p>
          <span class="label">نوع المعاملة </span>
          <span class="data">
            وارد عام
          </span>
        </p>
        <p>
          <span class="label">تاريخ التسجيل </span>
          <span class="data">
            {{tr.date}}
          </span>
        </p>
      </div>
      <p *ngIf="partic">
        <span class="label">صاحب المعاملة </span>
        <span class="data">
          {{PropName}}
        </span>
      </p>
    </div>
    <div class="row">
      <div class="col-6">

        <p>
          <span class="label">رقم الجوال </span>
          <span class="data">
            {{tr.tel}}
          </span>
        </p>
        <p>
          <span class="label">عدد المرفقات الورقية </span>
          <span class="data">
            {{tr.nbPjNumerique}}
          </span>
        </p>

      </div>
      <div class="col-6">


        <p>
          <span class="label">السجل المدني </span>
          <span class="data">
            {{tr.registreCivil}}
          </span>
        </p>

        <p *ngIf="trLiaisonId=='true'">
          <span class="label">ضم </span>
          <span class="data">
            نعم
          </span>
        </p>

        <p *ngIf="trLiaisonId=='false'">
          <span class="label">ضم </span>
          <span class="data">
            لا
          </span>
        </p>

      </div>

      <p>
        <span class="label">الموضوع </span>
        <span class="data">
          {{tr.sujet}}
        </span>
      </p>
    </div>
  </main>
</div>



<!-- getBack-->
<div id="myModal2" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">حفظ مؤقت</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">


            <p class="text-center" style="text-align:center">هل أنت متأكد من حفظ المعاملة نهائيا؟</p>



            <div class="mx-auto my-3 text-center">
              <button class="btn btn-success px-2 ml-3" (click)="getBack()"><span class="ml-2"><i class="fa fa-save"></i></span> موافق</button>
              <button class="btn btn-danger px-2 ml-3"><span class="ml-2"><i class="fa fa-times"></i></span> إلغاء</button>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
