@font-face {
  font-family: 'Andalus';
  src: url('http://www.fontsaddict.com/fontface/andalus.ttf');
}
/* @page{
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
}

.font-andalus {
  font-family: 'Andalus';
}

.font-tagawal {
  font-family: 'Tajawal', sans-serif;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 50px;
  border-bottom: 1px solid #eee;
}

.header-title {
  text-align: center;
  font-family: 'Tajawal', sans-serif;
}

header .header-title {
  font-size: 24px;
}

header .img1 {
  height: 100%;
}

header .img2 {
  width: 150px;
  margin-right: auto;
}

.content {
  padding: 50px 30px;
}

  .content h2 {
    margin-bottom: 20px;
  }

  .content table {
    width: 90%;
    font-size: 18px;
    margin: 0 auto 20px;
    font-family: 'Tajawal', sans-serif;
  }

  .content .centered {
    width: 90%;
    margin: auto;
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
  }

    .content .centered .variable-text {
      color: red;
      font-weight: 400;
    }

    .content .centered .sign {
      font-size: 18px;
      text-align: left;
    }
