<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/cheque-pay-list-accept']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-id-card-alt"></i></span>
    صرف الشيك
  </a>

  <a [routerLink]="['/cheque-pay-list-pay']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-id-card-alt"></i></span>
    صرف الشيك
  </a>

  <a [routerLink]="['/menurequests']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    الإجازات
  </a>

  <a [routerLink]="['/recrutmenet-dir-list']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-briefcase"></i></span>
    الانتدابات
  </a>

  <a [routerLink]="['/permission-list-dir']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-bell"></i></span>
    الإذن
  </a>

  <a [routerLink]="['/demissio-listdir']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-sign-out-alt"></i></span>
    الإستقالة
  </a>

  <a [routerLink]="['/plaint-listdir']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-times-circle"></i></span>
    الشكوى
  </a>

  <a [routerLink]="['/residence-list-dir']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-home"></i></span>
    تجديد الإقامة
  </a>
  <!--
    <a [routerLink]="['/salaire-report-print']" class="p-2 flex-fill bd-highlight">
      <span><i class="fa fa-coins"></i></span>
      مشهد براتب
    </a>


    <a [routerLink]="['/experience-print']" class="p-2 flex-fill bd-highlight">
      <span><i class="fa fa-file"></i></span>
      خبرة
    </a>

     <a [routerLink]="['/equipement-list-dir']" class="p-2 flex-fill bd-highlight">
      <span><i class="fa fa-desktop"></i></span>
      العهد
    </a>

    <a [routerLink]="['/salaiale-dir-lis']" class="p-2 flex-fill bd-highlight">
       <span><i class="fa fa-address-book "></i></span>
        مشهد براتب
     </a>

     <a [routerLink]="['/demande-formation-listdir']" class="p-2 flex-fill bd-highlight">
       <span><i class="fa fa-graduation-cap "></i></span>
        الدورات التدريبية للموظفين
     </a>

     <a [routerLink]="['/formationexists-listdir']" class="p-2 flex-fill bd-highlight">
       <span><i class="fa fa-graduation-cap "></i></span>
        إنخراط في دورة تدريبية
     </a>-->
</nav>
