<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
        <a [routerLink]="['/tasks-list-received']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-arrow-alt-circle-left"></i></span>
          الواردة
          <span class="badge badge-danger">{{nb}}</span>
        </a>


        <a [routerLink]="['/tasks-list-created']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-arrow-alt-circle-right"></i></span>
          الصادرة
        </a>
      </nav>
      <h2 class="task-head">قائمة المهام الواردة </h2>
      <section class="page-content">
        <div class="d-flex flex-wrap p-2 bd-highlight nav-2">

          <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
            <div class="sympol">
              <span style="font-size:40px;color:#f51a16;text-align:center"><i class="fa fa-bell"></i></span>
            </div>
            <div class="text">
              <p style="font-size:20px;color:#f51a16">مهام جديدة</p>
              <span style="color:#f51a16;font-size:30px;">{{nbnew}}</span>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
            <div class="sympol">
              <span style="font-size:40px;color:#3957ed;text-align:center"><i class="fa fa-pencil-alt"></i></span>
            </div>
            <div class="text">
              <p style="font-size:20px;text-align:center;color:#3957ed"> مهام تحت الإجراء</p>
              
            
              <span style="color:#3957ed;font-size:30px;">{{nbcurrent}}</span>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight item" style="height:100px;text-align:center;border-color:black">
            <div class="sympol">
              <span style="font-size:40px;color:#0f630a;text-align:center"><i class="fa fa-times-circle"></i></span>
            </div>
            <div class="text">
              <p style="font-size:20px;text-align:center;color:#0f630a">مهام منجزة</p>
             
           
              <span style="color:#0f630a;font-size:30px;">{{nbclose}}</span>
            </div>
          </div>

        </div>
      </section>


      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="بحث">
      <div class="tabel-cont">
        <table class="table table-striped table-hover sortable">
          <thead>
            <tr>
              <th scope="col" (click)="sort('id')">
                <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th scope="col" (click)="sort('tacheNom')">
                عنوان المهمة
                <span class="glyphicon sort-icon" *ngIf="key =='tacheNom'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>


              <th scope="col" (click)="sort('creatorName')">
                المحرر
                <span class="glyphicon sort-icon" *ngIf="key =='creatorName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>

              <th scope="col" (click)="sort('creatorName')">
                الوصف
                <span class="glyphicon sort-icon" *ngIf="key =='creatorName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>

              <th scope="col" (click)="sort('tacheNom')">
                تاریخ التحریر
                <span class="glyphicon sort-icon" *ngIf="key =='tacheNom'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>

              <th scope="col" (click)="sort('description')">
                الاولوية
                <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th scope="col" (click)="sort('etat')">
                <p style="color:white">
                  <span class="glyphicon sort-icon" *ngIf="key =='etat'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </p>
                الحالة
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tache of filtredtachelist |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: count, currentPage: c }; let i = index">
              <th (click)="populateForm(tache)" scope="row" [routerLink]="['/tache-received-details', tache.id]">{{(c-1) * count + i + 1}}</th>
              <td (click)="populateForm(tache)" [routerLink]="['/tache-received-details', tache.id]">{{tache.tacheNom}}</td>
              <td (click)="populateForm(tache)" [routerLink]="['/tache-received-details', tache.id]">{{tache.creatorName}}</td>
              <td (click)="populateForm(tache)" [routerLink]="['/tache-received-details', tache.id]">{{tache.description}}</td>
              <td (click)="populateForm(tache)" [routerLink]="['/tache-received-details', tache.id]">{{tache.date}}</td>
              <td (click)="populateForm(tache)" [routerLink]="['/tache-received-details', tache.id]">{{tache.priorite}}</td>
              <td [routerLink]="['/tache-received-details', tache.id]" [ngClass]="{

    'work': tache.etat === 'تحت الإجراء',
    'done': tache.etat === 'منجزة',
    'notdone': tache.etat === 'غير منجزة',
    'closed': tache.etat === 'مغلقة',
    'wait': tache.etat === 'في الإنتظار',
    'finished': tache.etat === 'للتقييم',
    'retarde': tache.etat === 'متاخرة'
  }">
                <a (click)="populateForm(tache)">{{tache.etat}} </a>


              </td>

            </tr>

          </tbody>


        </table>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <pagination-controls (pageChange)="c = $event" previousLabel="السابق"
                               nextLabel="التالي"></pagination-controls>
        </ul>
      </nav>

    </div><!-- End col-9 -->
  </div>

</div>
  <!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
