<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <header>
        <h3 class="task-head">	الزيارات </h3>
      </header>
      <div class="events1">
        <form class="form-row events-form mb-3" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="col-md-12 d-flex flex-wrap w-100 justify-content-between">


            <div class="col-md-6">
              <label for="demm-type">	نوع الزيارة   </label>
              <select id="demm-type" name="type" #type="ngModel" [(ngModel)]="dem.type" (change)="getOcc($event)">
                <option [ngValue]="undefined" selected disabled>-النوع-</option>
                <option value="زيارة علاقات العامة">زيارة علاقات العامة</option>
                <option value="زيارة داعم أو مؤسسة مانحة">زيارة داعم أو مؤسسة مانحة</option>
                <option value="زيارة تعريفية">زيارة تعريفية</option>
                <option value="زيارة نشر معرفة وتبادل خبرات">زيارة نشر معرفة وتبادل خبرات</option>
                <option value="زيارة جهة حكومية">زيارة جهة حكومية</option>
                <option value="زيارة شريك">زيارة شريك</option>
                <option value="زيارة عمل شراكة">زيارة عمل شراكة</option>
                <option value="أخرى">أخرى</option>

              </select>
            </div>

            <div class="col-md-6" *ngIf="occ">
              <label for="date">	أخرى </label>
              <input type="text" id="date" name="autre" #autre="ngModel" [(ngModel)]="dem.autre" />
            </div>

            <div class="col-md-6">
              <label for="other-type">هدف الزيارة</label>
              <input type="text" id="other-type" name="but" #but="ngModel" [(ngModel)]="dem.but" />
            </div>

            <div class="col-md-6">
              <label for="time2">	العدد</label>
              <input type="text" id="time2" name="nb" #nb="ngModel" [(ngModel)]="dem.nb" />
            </div>

            <div class="col-md-6">
              <label for="time2">الميزانية  </label>
              <input type="number" id="time2" name="budget" #budget="ngModel" [(ngModel)]="dem.budget" />
            </div>


            <div class="col-md-12">
              <label for="resume" class="main">
                <span><i class="fa fa-file-signature"></i></span> التوصيات

              </label>
              <input type="text" id="resume" name="detail" #detail="ngModel" [(ngModel)]="dem.detail" style="width:500px;" />
            </div>
          </div>

          <div class="row w-100 d-flex form-box">
            <div class="col-md-8 col-sm-12">
              <label class="main">
                <span><i class="fa fa-file-pdf"></i></span>
                العروض والمطبوعات
              </label>
              <div class="d-flex w-100 justify-content-start flex-wrap">
                <div class="ml-3">
                  <label for="target">	العرض </label>
                  <input type="text" id="target"
                         name="nom" #nom="ngModel" [(ngModel)]="guest.nom" />
                </div>

                <div class="ml-3">
                  <a (click)="add()"
                     class="btn mt-md-4"
                     style="
											width: 120px;
											height: 40px;
											color: #fff;
											background: #344760;
										">إضافة</a>

                </div>
              </div>


            </div>

            <div class="table-responsive new-table2" *ngIf="guestTest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>

                    <th scope="col">العرض</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of guestList">
                    <td>{{dp.nom}}</td>

                    <td><a (click)="del(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 text-left">
            <input class="btn btn-info px-4" type="submit" value="حفظ" />

          </div>

          <div class="col-md-6">
            <div class="success-msg" *ngIf="succ">
              <i class="fa fa-check"></i>
              {{msg}}
            </div>

            <div class="error-msg" *ngIf="failed">
              <i class="fa fa-times-circle"></i>
              {{msg}}
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <a class="navbar-brand" href="#"> <img src="assets/images/awal.png" style="width:40px;height:40px;"></a> </p>
</footer>
