<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">

      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

        <a [routerLink]="['/event-register']" class="p-2 flex-fill bd-highlight stop-btn">
          <span><i class="fa fa-plus"></i></span>
          تسجيل فعاليات
        </a>

        <a [routerLink]="['/event-list']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-list"></i></span>
          قائمة الفعاليات
        </a>
      </nav>

      <header>
        <h3 class="task-head">تسجيل فعاليات</h3>
      </header>
      <div class="events1">
        <form class="form-row events-form mb-3" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="col-md-12 d-flex w-100 justify-content-between">
            <div>
              <label for="devision"><span><i class="fa fa-sitemap"></i></span> القسم</label>
              <select id="devision" name="classe" #classe="ngModel" [(ngModel)]="ev.classe" required>
                <option [ngValue]="undefined" selected disabled>-اختر-</option>
                <option *ngFor="let item of classList" value="{{item.nom}}">{{item.nom}}</option>
              </select>
            </div>



            <div>
              <label for="date-time">
                <span><i class="fa fa-calendar-alt"></i></span> التاريخ
                والوقت
              </label>
              <input type="datetime-local" id="date-time" name="datetime" #datetime="ngModel" [(ngModel)]="ev.datetime" required style="width:170px" />
            </div>




            <div>
              <label for="site">
                <span><i class="fa fa-map-marker-alt"></i></span>
                الموقع
              </label>
              <input type="text" id="site" name="localisation" #localisation="ngModel" [(ngModel)]="ev.localisation" />
            </div>
          </div>

          <div class="col-md-12 d-flex w-100 justify-content-between">
            <div *ngIf="classe.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
              مطلوب القسم .
            </div>
            <div *ngIf="datetime.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
              مطلوب التاريخ .
            </div>
            <div></div>
          </div>
          <div class="col-md-12">
            <label class="main" for="project"><span><i class="fa fa-spinner"></i></span> المشروع</label>
            <input type="text" id="project" class="ml-3" name="projet" #projet="ngModel" [(ngModel)]="ev.projet" required />

            <label for="act-type">نوع النشاط</label>
            <select id="act-type" class="ml-3" style="width:120px" name="typeAct" #typeAct="ngModel" [(ngModel)]="ev.typeAct" required>
              <option [ngValue]="undefined" selected disabled>-نوع النشاط-</option>
              <option *ngFor="let item of activityList" value="{{item.nom}}">{{item.nom}}</option>
            </select>


            <label for="address">العنوان</label>
            <input type="text" id="address" name="attribut2" #attribut2="ngModel" [(ngModel)]="ev.attribut2" required />
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <div *ngIf="projet.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
                  مطلوب المشروع .
                </div>
              </div>
              <div class="col-sm-4">
                <div *ngIf="typeAct.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
                  مطلوب نوع النشاط .
                </div>
              </div>
              <div class="col-sm-4">
                <div *ngIf="attribut2.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
                  مطلوب العنوان .
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">

          </div>
          <div class="col-md-11">
            <label for="address">الوصف</label>
            <textarea id="address" name="attribut3" #attribut3="ngModel" [(ngModel)]="ev.attribut3"
                      class="lasti"> </textarea>
          </div>
          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-users"></i></span> الفئة المستفيدة</label>
            <label for="types">الفئة</label>
            <select id="types" class="ml-4" name="categ" #categ="ngModel" [(ngModel)]="ben.categ">
              <option [ngValue]="undefined" selected disabled>-الفئة-</option>
              <option *ngFor="let item of beneficiaireList" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            <label for="langs">اللغة</label>
            <select id="langs" class="ml-4" name="langue" #langue="ngModel" [(ngModel)]="ben.langue">
              <option [ngValue]="undefined" selected disabled>-اللغة-</option>
              <option *ngFor="let item of lg" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            <label for="num">العدد</label>
            <input type="number" id="num" min="0" name="nombre" #nombre="ngModel" [(ngModel)]="ben.nombre" />&nbsp;&nbsp;
            <input class="add-inputs" (click)="addBen()" type="button" value="اضافة">

            <!-- New Table To Add Values -->
            <div class="table-responsive new-table2" *ngIf="bentest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الفئة</th>
                    <th scope="col">اللغة</th>
                    <th scope="col">العدد</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of benList ; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dp.categ}}</td>
                    <td>{{dp.langue}}</td>
                    <td>{{dp.nombre}}</td>
                    <td><a (click)="del1(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-users"></i></span> الداخلين في الإسلام</label>
            <label for="types">الجنسية</label>
            <input type="text" id="num" name="nat" #nat="ngModel" [(ngModel)]="entrer.nat" />&nbsp;&nbsp;
            <label for="langs">اللغة</label>
            <select id="langs" class="ml-4" name="langue" #langue="ngModel" [(ngModel)]="entrer.langue">
              <option [ngValue]="undefined" selected disabled>-اللغة-</option>
              <option *ngFor="let item of lg" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            <label for="num">العدد</label>
            <input type="number" id="num" min="0" name="nb" #nb="ngModel" [(ngModel)]="entrer.nb" />&nbsp;&nbsp;
            <input class="add-inputs" (click)="addenter()" type="button" value="اضافة">

            <!-- New Table To Add Values -->
            <div class="table-responsive new-table2" *ngIf="entrertest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الجنسية</th>
                    <th scope="col">اللغة</th>
                    <th scope="col">العدد</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of entrerlis ; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dp.nat}}</td>
                    <td>{{dp.langue}}</td>
                    <td>{{dp.nb}}</td>
                    <td><a (click)="del20(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>


          <div class="col-md-12 event-team">
            <label class="main">
              <span><i class="fa fa-users-cog"></i></span> لجنة
              التنفيذ
            </label>
            <label for="name10">الاسم</label>
            <input type="text" id="name10" class="ml-4" name="nom" #nom="ngModel" [(ngModel)]="par.nom" />
            <label for="event-task">المهمة</label>
            <select id="event-task" name="tache" #tache="ngModel" [(ngModel)]="par.tache">
              <option [ngValue]="undefined" selected disabled>-الفئة-</option>
              <option *ngFor="let item of tacheEvList" value="{{item.nom}}">{{item.nom}}</option>

            </select>&nbsp;&nbsp;
            <input class="add-inputs" (click)="addpart()" type="button" value="اضافة">
            <!-- New Table To Add Values -->
            <div class="table-responsive new-table1" *ngIf="partest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">المهمة</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pr of parlis ; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pr.nom}}</td>
                    <td>{{pr.tache}}</td>
                    <td><a (click)="del2(pr,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <label class="main">
              <span><i class="fa fa-mosque"></i></span> الوسائل
              الدعوية
            </label>
            <label for="type-way">الصنف</label>
            <select id="type-way" class="ml-4" name="categ" #categ="ngModel" [(ngModel)]="oti.categ">
              <option [ngValue]="undefined" selected disabled>-الصنف-</option>
              <option *ngFor="let item of outilsList" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            <label for="number3">العدد</label>
            <input type="number" id="number3" min="0" name="nombre" #nombre="ngModel" [(ngModel)]="oti.nombre" />&nbsp;&nbsp;
            <input class="add-inputs2" (click)="addOutils()" value="اضافة" type="button">
            <!-- New Table To Add Values -->
            <div class="table-responsive new-table1" *ngIf="otitest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الصنف</th>
                    <th scope="col">العدد</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pr of otiList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pr.categ}}</td>
                    <td>{{pr.nombre}}</td>
                    <td><a (click)="del3(pr,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-coins"></i></span> المصروفات</label>

            <label for="pay-type">الصنف</label>
            <select id="devision" name="type" #type="ngModel" [(ngModel)]="dep.type">
              <option [ngValue]="undefined" selected disabled>-اختر-</option>
              <option *ngFor="let item of depEventList" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            &nbsp;&nbsp;&nbsp;
            <label for="pay-cost">التكلفة</label>
            <input type="number" id="pay-cost" min="0" class="ml-4" name="prix" #prix="ngModel" [(ngModel)]="dep.prix" />
            <label for="pay-num">العدد</label>
            <input type="number" id="pay-num" min="0" name="nombre" #nombre="ngModel" [(ngModel)]="dep.nombre" />&nbsp;&nbsp;
            <input class="add-inputs2" (click)="depadd()" value="اضافة" type="button">
            <!-- New Table To Add Values -->
            <div class="table-responsive new-table2" *ngIf="deptest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الصنف</th>
                    <th scope="col">التكلفة</th>
                    <th scope="col">العدد</th>
                    <th scope="col"> الإجمالي</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of deplis; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dp.type}}</td>
                    <td>{{dp.prix}}</td>
                    <td>{{dp.nombre}}</td>
                    <td>{{+dp.prix * +dp.nombre}}</td>
                    <td><a (click)="del4(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>الإجمالي</td>
                    <td>{{tot2}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-photo-video"></i></span> الاعلام</label>
            <label for="platform">المنصة</label>
            <select id="platform" class="ml-4" name="nom" #nom="ngModel" [(ngModel)]="media.nom">

              <option [ngValue]="undefined" selected disabled>-الفئة-</option>
              <option value="الانستقرام">الانستقرام</option>
              <option value="الفيسبوك">الفيسبوك</option>
              <option value="اليوتيوب">اليوتيوب</option>
              <option value="تويتر">تويتر</option>
            </select>
            <label for="link5">الرابط</label>
            <input type="text" id="link5" name="path" #path="ngModel" [(ngModel)]="media.path" />&nbsp;&nbsp;
            <input class="add-inputs2" (click)="mediaadd()" value="اضافة" type="button">
          </div>

          <div class="table-responsive new-table2" *ngIf="mediatest">
            <table class="table table-bordered text-center table-striped">
              <thead class="thead-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">المنصة</th>

                  <th scope="col">الرابط</th>
                  <th scope="col">حذف</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dp of medialis; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{dp.nom}}</td>
                  <td>{{dp.path}}</td>
                  <td><a (click)="del5(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                </tr>

              </tbody>
            </table>
          </div>


          <div class="col-md-12">

            <label class="main"><span><i class="fa fa-file-upload"></i></span> التوثيق</label>

            <input type="text" id="link5" name="path" #path="ngModel" [(ngModel)]="pj1.path" placeholder="رابط الفيديو" (keydown.enter)="$event.preventDefault()" style="width:515px;" />
            <div class="row">
              <div class="col-md-2"></div>
              <!-- <ngx-dropzone (change)="upload1($event);onSelect1($event)" class="dropzone" #inputFile>
            <ngx-dropzone-label class="file-label" for="photos">
              <span><i class="fa fa-images fa-lg"></i></span> صور
              <span class="mr-4"><i class="fa fa-upload"></i></span>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove1(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <p>&nbsp; &nbsp; &nbsp; </p>
          <ngx-dropzone (change)="upload2($event);onSelect2($event)" class="dropzone" #inputFile>
            <ngx-dropzone-label for="audio" class="file-label">
              <span><i class="fa fa-file fa-lg"></i></span>
              المستندات و الفواتير
              <span class="mr-4"><i class="fa fa-upload"></i></span>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files2" [removable]="true" (removed)="onRemove2(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>-->

            </div>
          </div>
          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-file-upload"></i></span> المرفقات</label>
            <input type="file" id="contract" (change)="upload1($event)" #inputFile>
            <label for="contract" style="background: #91C3D8 !important;cursor:pointer"><span><i class="fa fa-images fa-lg"></i></span> صور <span class="mr-4"><i class="fa fa-upload"></i></span></label>
            <input type="file" id="contract" (change)="upload2($event)" #inputFile>
            <label for="contract" style="background: #91C3D8 !important;cursor:pointer"><span><i class="fa fa-file-alt fa-lg"></i></span>   المستندات و الفواتير <span class="mr-4"><i class="fa fa-upload"></i></span></label>
          </div>
          <div class="col-md-6">
            <div class="table-responsive new-table2" *ngIf="bool">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-primary">
                  <tr>

                    <th scope="col">المرفق</th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of fileslist; let i = index">
                    <th scope="row">{{dp}}</th>
                    <td><a (click)="del7(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>


          <div class="col-md-12">
            <label for="results" class="main">
              <span><i class="fa fa-users-cog"></i></span>
              الثمرات
            </label>
            <textarea id="results" name="stat" #stat="ngModel" [(ngModel)]="ev.stat"
                      class="lasti"> </textarea>
          </div>
          <div class="col-md-12">
            <label class="main"><span><i class="fa fa-edit"></i></span> التوصيات</label>
            <textarea class="lasti" id="name" min="0" name="recommandation" #recommandation="ngModel" [(ngModel)]="ev.recommandation">
            </textarea>
          </div>

          <div class="col-12 text-left">
            <input class="btn btn-primary" type="submit" value="حفظ" />&nbsp;&nbsp;
            <input type="button" class="btn btn-dark" value="طباعة " (click)="PDFEv()" />
          </div>
        </form>
      </div>
    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>

<!--style="text-align:center;display: none;"-->
<div class="printed-report-page" id="htmlData" style="text-align:center;display: none;">
  <div class="container">
    <h2 class="text-center">{{ev2.attribut2}}</h2>
    <div class="printed-content">
      <div class="row">
        <div class="col-md-4">
          <div class="data-line">
            <span class="label ml-2">القسم</span><span class="text">{{ev2.classe}}</span>
          </div>
          <div class="data-line">
            <span class="label ml-2">المشروع</span><span class="text">{{ev2.projet}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="result">
            <h4>النتائج</h4>
            <p>
              {{ev2.stat}}
            </p>
          </div>
          <div class="recoms">
            <h4>التوصيات</h4>
            <p>
              {{ev2.recommandation}}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="data-line">
            <span class="label ml-2">التاريخ</span><span class="text">{{ev2.datetime}}</span>
          </div>
          <div class="data-line">
            <span class="label ml-2">المكان</span><span class="text">{{ev2.localisation}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="part">
            <h4>الفئة المستفيدة</h4>
            <table class="table text-center table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th scope="col">الفئة</th>
                  <th scope="col">اللغة</th>
                  <th scope="col">العدد</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dp of benList2">
                  <td>{{dp.categ}}</td>
                  <td>{{dp.langue}}</td>
                  <td>{{dp.nombre}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="part">
            <h4>الوسائل الدعوية</h4>
            <table class="table text-center table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th scope="col">الصنف</th>
                  <th scope="col">العدد</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pr of otiList2">
                  <td>{{pr.categ}}</td>
                  <td>{{pr.nombre}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="part">
            <h4> لجنة التنفيذ</h4>
            <table class="table text-center table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th scope="col">الاسم</th>
                  <th scope="col">المهمة</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pr of parlis2">
                  <td>{{pr.nom}}</td>
                  <td>{{pr.tache}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="part">
            <h4>المصروفات</h4>
            <table class="table text-center table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th scope="col">الصنف</th>
                  <th scope="col">التكلفة</th>
                  <th scope="col">العدد</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dp of deplis2">
                  <td>{{dp.type}}</td>
                  <td>{{dp.nombre}}</td>
                  <td>{{dp.prix}}</td>
                </tr>

                <tr>
                  <td></td>
                  <td>الإجمالي</td>
                  <td>{{somme}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
