.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"] {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.theme-table thead {
  background-color: #276985;
  color: #fff;
}

/*-- Start Popup --*/
.popup-page {
  position: fixed;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  padding: 50px;
  display: none;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.close-popup {
  /*padding: 10px 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block*/
  display: none;
}

.popup-page .popup-content {
  /*background: #fff;
  padding: 20px;*/
  width: 60%;
  position: relative;
  background: #fff;
  color: #333;
  padding: 30px 20px;
  border-radius: 10px;
  top: 0;
}


  .popup-page .popup-content h2 {
    color: #276985;
  }

@media (max-width: 991px) {
  .popup-page {
    display: grid;
    place-items: center;
  }

    .popup-page .popup-content {
      width: 90%;
      margin: 50px 0;
    }

      .popup-page .popup-content .close-popup {
        top: 10px !important;
        left: 10px !important;
      }
}

/* .popup-content .task-form {
    padding: 10px;
  }*/

.page-wrapper {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
}

.service-form p {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  width: 50%;
  color: #276985;
  background-color: #d1d1d1;
}

.popup-page .popup-content .close-popup {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  left: -40px;
  top: -40px;
  background: #ffffff;
  color: #000;
  border: 1px solid #999;
  font-weight: bold;
}

body.noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

.buttons a,
.buttons button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  margin-bottom: 5px;
  border: 1px solid #107F98;
  background: #107F98;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s
}

  .buttons a:hover,
  .buttons button:hover {
    color: #107F98;
    background: #fff;
    border-width: 2px;
  }


.completed {
  border: 2px solid #080;
  color: #080;
  font-weight: bold;
  padding: 10px;
  margin-right: 30px
}

.notcompleted {
  border: 2px solid #bf0a04;
  color: #bf0a04;
  font-weight: bold;
  padding: 10px;
  margin-right: 30px
}



.popup-head {
  text-align: center;
  color: #107F98;
}

  .popup-head::after {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 2px dashed #107F98;
    margin: 10px auto 0;
  }

.fa-download {
  color: dodgerblue;
}

ul {
  list-style: none;
  display: inline;
}

.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"],
  .task-form input[type="number"],
  .task-form select {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.file-label {
  cursor: pointer;
}
