
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

.section-50 {
  padding: 50px 0;
}

.m-b-50 {
  margin-bottom: 50px;
}

.dark-link {
  color: #333;
}

.heading-line {
  position: relative;
  padding-bottom: 5px;
}

  .heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
  }

.notification-ui_dd-content {
  margin-bottom: 30px;
  overflow-y: auto;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
  border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
  }

  .notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
  }

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}
/*---------------------------------
	New Style Added in 11/9/2020 
----------------------------------*/
/*-- Courses Page - The style here will be in another pages - Edited 11/9/2020 --*/
.accord {
  padding: 8px 8px;
  border: 1px solid #d1d1d1;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  color: #276985;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  margin-top: 15px;
}

  .accord:first-of-type {
    margin-top: 0;
  }

  .accord:after {
    content: "\02795";
    /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #fff;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    transition: 0.3s ease-in-out;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #276985;
  }

  .accord.active {
    background-color: #276985;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }

    .accord.active:after {
      content: "\2796";
      /* Unicode character for "minus" sign (-) */
      color: #276985;
      background: #fff;
    }

  .accord:hover:after {
    color: #276985;
    background: #fff;
  }

  .accord:hover {
    background-color: #276985;
    color: #fff;
    text-decoration: none;
  }

.panel {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid;
  border-color: transparent #276985 #276985 #276985;
  border-radius: 0 0 5px 5px;
  display: none;
  color: #276985;
}
/*End Courses Page */
/*Logo Editing - Emp-pages */
.emp-logo img {
  width: 100px;
  margin-left: 20px;
  border-radius: 10px 0;
}
/*Decision Page*/
.head1 {
  text-align: center;
  color: #276985;
  position: relative;
  margin-bottom: 30px;
}

  .head1::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    border-bottom: 2px dashed #276985;
  }
