.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"],
  .task-form input[type="number"],
  .task-form select {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.file-label {
  cursor: pointer;
}

.radio-lab {
  display: inline-block;
  min-width: 50px;
  border-radius: 0;
  padding-right: 4px;
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
  background: none;
}

.pay-method1,
.pay-method2,
.programs,
.other-input {
  background: #f1f1f1;
  padding: 15px 0 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

#pay-method1:checked ~ .pay-method1 {
  display: block;
}

#pay-method2:checked ~ .pay-method2 {
  display: block;
}

#programs:checked ~ .programs {
  display: block;
}

#other-input:checked ~ .other-input {
  display: block;
}

.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"] {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.theme-table thead {
  background-color: #276985;
  color: #fff;
}

/*-- Start Popup --*/
.popup-page {
  position: fixed;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  padding: 50px;
  display: none;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.close-popup {
  /*padding: 10px 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block*/
  display: none;
}

.popup-page .popup-content {
  /*background: #fff;
  padding: 20px;*/
  width: 60%;
  position: relative;
  background: #fff;
  color: #333;
  padding: 30px 20px;
  border-radius: 10px;
  top: 0;
}


  .popup-page .popup-content h2 {
    color: #276985;
  }

@media (max-width: 991px) {
  .popup-page {
    display: grid;
    place-items: center;
  }

    .popup-page .popup-content {
      width: 90%;
      margin: 50px 0;
    }

      .popup-page .popup-content .close-popup {
        top: 10px !important;
        left: 10px !important;
      }
}

/* .popup-content .task-form {
    padding: 10px;
  }*/

.page-wrapper {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
}

.service-form p {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  width: 50%;
  color: #276985;
  background-color: #d1d1d1;
}

.popup-page .popup-content .close-popup {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  left: -40px;
  top: -40px;
  background: #ffffff;
  color: #000;
  border: 1px solid #999;
  font-weight: bold;
}

body.noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

.buttons a,
.buttons button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  margin-bottom: 5px;
  border: 1px solid #107F98;
  background: #107F98;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s
}

  .buttons a:hover,
  .buttons button:hover {
    color: #107F98;
    background: #fff;
    border-width: 2px;
  }


.completed {
  border: 2px solid #080;
  color: #080;
  font-weight: bold;
  padding: 10px;
  margin-right: 30px
}

.notcompleted {
  border: 2px solid #bf0a04;
  color: #bf0a04;
  font-weight: bold;
  padding: 10px;
  margin-right: 30px
}



.popup-head {
  text-align: center;
  color: #107F98;
}

  .popup-head::after {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 2px dashed #107F98;
    margin: 10px auto 0;
  }

.fa-download {
  color: dodgerblue;
}

ul {
  list-style: none;
  display: inline;
}

.task-form {
  padding: 10px 0;
}

  .task-form label {
    min-width: 126px;
    background: #91c3d8;
    color: #444;
  }

  .task-form input[type="date"],
  .task-form input[type="number"],
  .task-form select {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
  }

.file-label {
  cursor: pointer;
}

.dropzone {
  font-size: 18px;
  color: #2196f3;
  border: 2px dashed #2196f3;
  width: 400px;
}


/* -- News-Page -- */
.news {
}

  .news .news-box {
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 5px;
  }

    .news .news-box:nth-of-type(odd) {
      background-color: #eceeef;
    }

    .news .news-box:nth-of-type(even) {
      background-color: #f9f9f9;
    }

.news-box .journalist-img {
  padding: 5px;
  border: 2px solid #276985;
  border-radius: 5px;
  background-color: #fff;
}

  .news-box .journalist-img img {
    width: 100%;
    border-radius: 5px;
  }

.news-box .news-content {
  position: relative;
}

  .news-box .news-content h4 {
    color: #276985;
    width: 85%;
  }

  .news-box .news-content .news-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #d1d1d1;
  }

@media (max-width: 767px) {
  .news-box .journalist-img {
    width: 80%;
    margin: 0 auto 15px;
  }

  .news-box .news-content .news-date {
    bottom: 0;
    top: unset;
  }

  .news-box .news-content h4 {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .news-box .news-content h4 {
    width: 80%;
  }

  .news-box .news-content .news-date {
    bottom: 0;
    top: unset;
  }
}
/*news-add page*/
.task-form {
  padding: 10px 0;
}

.new-links {
  padding: 10px 0;
  border-top: 2px solid #666;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

  .new-links a {
    text-decoration: none;
    color: #276985;
    border: 1px solid #276985;
    padding: 5px 15px;
    border-radius: 8px;
    transition: 0.3s;
  }

    .new-links a:hover {
      background-color: #276985;
      color: #fff;
    }

.notdonee {
  background: #dc3545;
}

.donee {
  background: #28a745;
}

.worke {
  background: #007bff;
}

.receive {
  background: #28a745;
}

.wait {
  background: #faec2f;
}

.finished {
  background: #7fdb90;
}

.retarde {
  background: #dc3545
}
