<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head"> قائمة التذاكر</h3>
      </header>
      <div class="table-responsive mandate">
        <table class="table text-center table-bordered table-striped theme-table">
          <thead>

            <tr>
              <th scope="col">#</th>
              <th scope="col">العنوان</th>
              <th scope="col">التاريخ</th>
              <th scope="col">التفاصيل</th>
              <th scope="col">الحالة </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ne of ticketList |  orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: count, currentPage: p }; let i = index">
              <th scope="row">{{(p-1) * count + i + 1}}</th>
              <td (click)="populateForm(ne)" data-toggle="modal" data-target="#myModal1">{{ne.titre}}</td>
              <td (click)="populateForm(ne)" data-toggle="modal" data-target="#myModal1">{{ne.date}}</td>
              <td (click)="populateForm(ne)" data-toggle="modal" data-target="#myModal1">{{ne.details}}</td>
              <td data-toggle="modal" data-target="#myModal" (click)="populateForm(ne)"
                  [ngClass]="{

    'work': ne.etat === 'تحت الإجراء',
    'done': ne.etat === 'منجزة',
    'wait': ne.etat === 'في الإنتظار'
}">
                {{ne.etat}}
                </td>
</tr>
          </tbody>
        </table>
      </div> <!-- End Table Responsive -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="السابق"
                               nextLabel="التالي"></pagination-controls>
        </ul>
      </nav>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
 <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج  <img src="assets/images/logo000.png" style="width:40px;height:40px;"> </p>
</footer>
<div id="myModal1" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">
        <h3 class="popup-head">{{ticket.titre}}</h3>
        <div class="modal-body" style="direction:rtl; text-align:right;">
          <div class="task-form form-row stop-form">
            <form class="task-form form-row service-form">

              <div class="col-md-4">
                <label>التاريخ </label>
                {{ticket.date}}
              </div>

              <div class="col-md-8">
                <label>التفاصيل </label>
                {{ticket.details}}
              </div>

              <div class="col-md-4">
                <label>الحالة </label>
                {{ticket.etat}}
              </div>

              <div class="col-md-4">
                <label>الملاحظات </label>
                {{ticket.remarque}}
              </div>

              <div class="col-md-12">
                <label>المرفقات </label>
                <span class="data">
                  <span *ngFor="let pr of ticketfiles">
                    <i class="ml-2 fa fa-arrow-down" style="color:dodgerblue"></i>
                    <a (click)="download(pr.path)" class="ml-3" style="color:dodgerblue">{{pr.path}}</a>

                  </span>
                </span>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="myModal" class="popup-page" role="dialog" style="direction:ltr;">
  <div class="">

    <div class="popup-content">


      <button type="button" class="close-popup" data-dismiss="modal">&times;</button>


      <div class="page-wrapper">

        <div class="modal-body" style="direction:rtl; text-align:right;">
          <h2 class="text-center my-2"> تعديل الحالة</h2>
          <form class="form-row task-form">
            <div class="col-sm-12">
              <label for="eve-title">الحالة</label>
              <select id="user" class="" (change)="getetatdata($event)">
                <option [ngValue]="undefined" selected disabled>-الحالة-</option>
                <option value="في الإنتظار">في الإنتظار</option>
                <option value="تحت الإجراء">تحت الإجراء</option>
                <option value="منجزة">منجزة</option>

              </select>

            </div>

            <div class="col-sm-12">
              <label for="eve-title">الملاحظات</label>
              <textarea (change)="getremarquedata($event)" class="form-control" id="eve-title"  required></textarea>

            </div>
            <div class="col-12 text-left mt-3">
              <input class="btn btn-primary px-4" type="submit" value=" تعديل الحالة" (click)="onSubmit()" />
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
