<nav class="d-flex p-0 bd-highlight tasks-nav mt-2 finance-nav">

  <a [routerLink]="['/add-type-stock']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus"></i></span>
    اضافة صنف
  </a>

  <a [routerLink]="['/details-type-stock']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-plus"></i></span>
    الوحدة
  </a>

  <!--<a [routerLink]="['/add-ordre-pay']" class="p-2 flex-fill bd-highlight stop-btn">
     <span><i class="fa fa-piggy-bank "></i></span>
     اضافة أمر صرف
   </a>-->
  <a [routerLink]="['/list-ordre-pay']" class="p-2 flex-fill bd-highlight stop-btn">
    <span><i class="fa fa-list"></i></span>
    قائمة أوامر الصرف
  </a>


</nav>
