<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <header>
        <h3 class="task-head">تغذية المستودع </h3>
      </header>
      <div class="events1">
        <form class="form-row events-form mb-3" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="col-md-6">
            <label class="main main1" for="gestoject">
              <span><i class="fa fa-spinner"></i></span>
              اسم المستودع
            </label>

            <select id="account" name="stockId" #stockId="ngModel" [(ngModel)]="stockage.stockId" (change)="getStockData($event)" required>
              <option [ngValue]="undefined" selected disabled>-اختر-</option>
              <option *ngFor="let item of stocklist" value="{{item.id}}">{{item.nom}}</option>
            </select>
            <div *ngIf="stockId.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
              مطلوب اسم المستودع .
            </div>
          </div>
   
          <div class="col-md-6">
            <label class="main main1" for="gestoject">
              <span><i class="fa fa-spinner"></i></span>
              النوع
            </label>

            <select id="account" name="attribut6" #attribut6="ngModel" [(ngModel)]="stockage.attribut6" required>
              <option [ngValue]="undefined" selected disabled>-اختر-</option>
              <option value="تسترجع">تسترجع </option>
              <option value="لا تسترجع">لا تسترجع</option>
            </select>
            <div *ngIf="attribut6.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
              مطلوب النوع  .
            </div>
          </div>

          <div class="row w-100 d-flex form-box">
            <div class="col-md-8 col-sm-12">
              <label class="main">
                <span><i class="fa fa-cart-plus"></i></span>
                الصنف
              </label>
              <div class="d-flex w-100 justify-content-start flex-wrap">
                <input type="text" name="unite" #unite="ngModel" [(ngModel)]="stock.unite" hidden />
                <input type="text" name="prix" #prix="ngModel" [(ngModel)]="stock.prix" hidden />
                <input type="text" name="tot" #tot="ngModel" [(ngModel)]="stock.tot" hidden />
                <input type="text" name="nomstock" #nomstock="ngModel" [(ngModel)]="stock.nomstock" hidden />
                <div class="ml-3">
                  <label for="target">	الصنف </label>
                  <select id="account" name="attribut1" #attribut1="ngModel" [(ngModel)]="stock.attribut1" (change)="getTypeStockData($event)">
                    <option [ngValue]="undefined" selected disabled>-اختر-</option>
                    <option *ngFor="let item of typeStockList" value="{{item.id}}">{{item.nom}}</option>
                  </select>
                </div>
                <div class="ml-3">
                  <label for="number">	الكمية </label>
                  <input type="number" maxlength="10" id="number"
                         name="quantite" #quantite="ngModel" [(ngModel)]="stock.quantite" (change)="getTot($event)" />
                </div>

                <div class="ml-3">
                  <label for="number">	المقاسات  </label>
                  <input type="text"
                         name="attribut5" #attribut5="ngModel" [(ngModel)]="stock.attribut5" />
                </div>

                <div class="ml-3">
                  <label for="number">	الماركة   </label>
                  <input type="text"
                         name="attribut4" #attribut4="ngModel" [(ngModel)]="stock.attribut4" />
                </div>


                <div class="ml-3">
                  <label class="number">

                    النوع
                  </label>

                  <select id="account" name="attribut6" #attribut6="ngModel" [(ngModel)]="stock.attribut6" required>
                    <option [ngValue]="undefined" selected disabled>-اختر-</option>
                    <option value="تسترجع">تسترجع </option>
                    <option value="لا تسترجع">لا تسترجع</option>
                  </select>

                </div>

                <button class="btn add-inputs0" id="" (click)="addtype()" type="button">اضافة</button>
              </div>

              <div class="d-flex w-100 justify-content-start flex-wrap">

              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <p>  </p>
              <br />
            </div>

            <div class="table-responsive new-table2" *ngIf="stocktest">
              <table class="table table-bordered text-center table-striped">
                <thead class="thead-gestimary">
                  <tr>

                    <th scope="col">	اسم المستودع </th>
                    <th scope="col">	الصنف </th>
                    <th scope="col">	الكمية </th>
                    <th scope="col">	النوع </th>
                    <th scope="col">الوحدة  </th>
                    <th scope="col">المقاسات  </th>
                    <th scope="col">الماركة  </th>
                    <th scope="col">	سعر الوحدة  </th>
                    <th scope="col">	الاجمالي   </th>
                    <th scope="col">حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dp of stockList">
                    <td>{{dp.nomstock}}</td>
                    <td>{{dp.type}}</td>
                    <td>{{dp.quantite}}</td>
                    <td>{{dp.attribut6}}</td>
                    <td>{{dp.unite}}</td>
                    <td>{{dp.attribut5}}</td>
                    <td>{{dp.attribut4}}</td>
                    <td>{{dp.prix}}</td>
                    <td>{{dp.tot}}</td>
                    <td><a (click)="del1(dp,i)"><i class="fa fa-times" style="color:red;font-size:20px"></i></a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 text-left">
            <input class="btn btn-info px-4" type="submit" value="حفظ" />

          </div>
        </form>
      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>كل الحقوق محفوظة لمؤسسة مواهب الخليج بالتنسيق و التعاون مع جمعية الدعوة بالطائف  <img src="assets/images/awal.png" style="width:40px;height:40px;"> </p>
</footer>
